@charset "UTF-8";

*
{
    margin: 0;
    padding: 0;
}

body
{
    background-color: #efefef;
}

a, a:hover
{
    color: white;
    text-decoration: none;
}

.dropdown-item-checked::before {
    position: absolute;
    left: .4rem;
    content: '✓';
    font-weight: 600;
}

.bromello
{
    font-family: 'bromello', 'Arial';
}

.poiret
{
    font-family: 'Poiret One', 'Arial';
}

.abril
{
    font-family: 'Abril', 'Arial';
}

.quicksand
{
    font-family: 'Quicksand', sans-serif, 'Arial';
}

.montserrat
{
    font-family: 'Montserrat', sans-serif, 'Arial';
}

.roboto
{
    font-family: 'Roboto', sans-serif;
}

.roboto-bold
{
    font-family: 'Roboto Bold', sans-serif;
}

.bold
{
    font-weight: bold;
}

.medium
{
    font-weight: 500;
}

.right
{
    float: right;
}

.left
{
    float: left;
}

.colored-bg { background-color: black }
.colored-font { color: #8c7748 }
.colored-font-opposite { color: #FFFFFF }
.black-bg { background-color: black }

.topbar
{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    height: 2vw;
    background-color: #2b2b2b;
    color: #FFFFFF;
    z-index: 1337;
}

.topbar-medelice
{
    font-size: 1.2vw;
    letter-spacing: 0.1vw;
    margin-left: 1vw;
}

.sidebar
{
    width: 15%;
    background-color: black;
    overflow-y: scroll;
    overflow-x: hidden;
    color: #FFFFFF;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
}

.sidebar::-webkit-scrollbar
{
    display: none;
}

.sidebar::-webkit-scrollbar-button
{
    display: none;
}

.sidebar::-webkit-scrollbar-track
{
    background-color: transparent;
}

.sidebar::-webkit-scrollbar-thumb
{
    background-color: #8c7748;
}

.sidebar-topzone
{
    width: 100%;
    text-align: center;
}

.sidebar-leave-icon
{
    transform: rotate(-180deg);
    margin-right: 0.5vw;
}

.sidebar-element
{
    width: 100%;
    background-color: #1b1b1b;
    height: 2vw;
    display: flex;
    align-items: center;
    padding-left: 1vw;
    cursor: pointer;
    font-size: 0.858vw;
    transition: padding 0.1s ease-out;
}

.sidebar-element:hover
{
    background-color: #242424;
    padding-left: 1.1vw;
}

.sidebar-subelement
{
    background-color: #313131;
    padding-left: 1.5vw;
}

.sidebar-subelement:hover
{
    background-color: #3a3a3a;
    padding-left: 1.6vw;
}

.sidebar-element-icon
{
    margin-right: 0.5vw;
}

.sidebar-element-dropdown
{
    width: 100%;
    height: auto;
}

.sidebar-element-dropdown-icon
{
    margin-left: auto;
    margin-right: 1vw;
}

.sidebar-element-dropdown-content
{
    display: none;
}

.content
{
    width: 85%;
    float: right;
    background-color: #efefef;
}

.dashboard-topcards-container
{
    display: inline-block;
    width: 99%;
    margin: 2vw 0.5%;
    height: 7vw;
}

.dashboard-topcard
{
    position: relative;
    float: left;
    width: 21%;
    margin: 0 2%;
    height: 100%;
    border-radius: 0.1vw;
    padding: 0.8vw 0.8vw;
    color: white;
    font-size: 1vw;
}

.dashboard-topcard-value
{
    font-size: 1.8vw;
    float: right;
}

.dashboard-topcard-bottomtext
{
    position: absolute;
    right: 0.8vw;
    bottom: 0.8vw;
    font-size: 0.7vw;
}

.blue-card
{
    background-color: #00c0ef;
}

.green-card
{
    background-color: #00a65a;
}

.orange-card
{
    background-color: #f39c12;
}

.red-card
{
    background-color: #dd4b39;
}

.btn-secondary:focus
{
    -webkit-box-shadow: none!important;
    box-shadow: none!important;
}

.page-title
{
    width: 95%;
    font-size: 2vw;
    margin: 2vw 2.5% 0;
}

.page-subtitle
{
    font-size: 1.2vw;
    color: #989898;
    font-weight: normal;
}

.home-upper-charts-section
{
    display: flex;
    width: 95%;
    margin: 0.5vw 2.5%;
}

.multi-display-chart-section
{
    float: left;
    width: 65%;
    background-color: #FFFFFF;
    padding: 1.2vw 1.5vw;
}

.mdc-header
{
    display: inline-block;
    width: 100%;
    margin-bottom: 1.2vw;
}

.mdc-title
{
    font-size: 1vw;
    float: left;
}

.mdc-subtitle
{
    font-size: 0.8vw;
    color: #888888;
}

#mdc-btngroup
{
    float: right;
}

.mdc-btn
{
    border: 0.052vw solid transparent;
    padding: 0.322vw 0.643vw;
    font-size: 0.858vw;
    border-radius: 0.214vw;
}

.trends-section
{
    flex: 1;
    float: right;
    width: 32.5%;
    background-color: #FFFFFF;
    padding: 1.2vw 1.5vw;
    margin-left: 2.5%;
}

.trends-title
{
    font-size: 1vw;
    float: left;
    width: 100%;
}

.trends-subtitle
{
    float: right;
    font-size: 0.8vw;
    color: #888888;
    line-height: 1.9;
}

.trends-icon-column
{
    width: 10%;
    text-align: center;
}

.trends-value-column
{
    width: 40%;
    text-align: left;
    padding-left: 5%;
}

.trends-tendency-column
{
    width: 50%;
    text-align: right;
}

.trends-data-line
{
    font-size: 1vw;
    height: 3vw;
}

.trends-red
{
    color: #dd4b39;
    margin-left: 0.4vw;
}

.trends-green
{
    color: #00a65a;
    margin-left: 0.4vw;
}

.manage-categories-container
{
    width: 93%;
    height: auto;
    margin: 3vw 3.5%;
    display: inline-block;
}

.categories-container
{
    width: 48%;
    float: left;
    background-color: white;
    padding: 1.5vw;
}

.subcategories-container
{
    width: 42%;
    float: right;
    background-color: white;
    padding: 1.5vw;
}

.manage-cat-title-container
{
    display: inline-block;
    width: 100%;
    margin-bottom: 1vw;
}

.manage-cat-title
{
    float: left;
    font-size: 1.2vw;
    height: 2vw;
    display: flex;
    align-items: center;
}

.manage-cat-add-btn
{
    float: right;
    outline: none;
    border: none;
    background-color: #eeeeee;
    height: 2vw;
    padding: 0 1vw 0 0.8vw;
    font-size: 0.9vw;
    cursor: pointer;
}

.manage-cat-btn-icon
{
    margin-right: 0.6vw;
}

.manage-cat-display-container
{
    width: 91%;
    margin: 1vw 2.5%;
    height: 20vw;
    background-color: #e0e0e0;
    padding: 2%;
    overflow-y: scroll;
}

.subcat-display-container
{
    height: 18vw;
}

.manage-cat-display-container::-webkit-scrollbar
{
    display: none;
}

.manage-cat-display-container::-webkit-scrollbar-button
{
    display: none;
}

.manage-cat-table
{
    width: 100%;
}

.manage-cat-tablerow
{
    height: 1.5vw;
    font-size: 0.9vw;
}

.manage-cat-tabledata
{
    border-bottom: 0.052vw #c7c7c7 solid;
}

.manage-cat-id
{
    padding-left: 2%;
}

.manage-cat-name
{
    width: 75%;
}

.manage-cat-edit
{
    width: 5%;
}

.manage-cat-remove
{
    width: 7%;
}

.manage-cat-tablebutton
{
    height: 1.8vw;
    width: 1.8vw;
    display: flex;
    align-items: center;
    outline: none;
    border: none;
    cursor: pointer;
    background-color: transparent;
}

.manage-cat-table-btn-icon
{
    width: 100%;
    text-align: center;
}

.manage-subcat-choosecat-container
{
    display: flex;
    height: 2vw;
    align-items: center;
}

.manage-subcat-choosecat-title
{
    margin-left: 5%;
    font-size: 1vw;
}

.manage-subcat-choosecat-select
{
    margin-left: 3%;
    height: 1.7vw;
    font-size: 0.9vw;
    padding: 0 0.5vw;
}

.add-cat-form-container
{
    display: none;
    position: fixed;
    z-index: 10;
    background-color: rgba(0, 0, 0, 0.4);
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.add-category-form
{
    width: 40%;
    margin: 20vw 30%;
    background-color: white;
    border-radius: 0.2vw;
    padding: 1.5vw;
}

.add-category-form-title-container
{
    font-size: 1.6vw;
    width: 100%;
    display: inline-block;
}

.add-category-form-title
{
    float: left;
}

.add-category-form-close
{
    float: right;
    cursor: pointer;
}

.add-category-form-field-container
{
    width: 95%;
    display: flex;
    align-items: center;
    font-size: 0.9vw;
    margin: 1.8vw 2.5% 0;
}

.add-category-form-field-title
{
    margin-right: 3vw;
}

.add-category-form-field
{
    height: 2vw;
    border-radius: 0.2vw;
    background-color: white;
    border: 0.052vw solid #dddddd;
    outline: none;
    flex: 1;
    padding: 0 2%;
}

.add-category-form-confirm-container
{
    width: 100%;
    height: auto;
    display: inline-block;
}

.add-category-form-confirm-button
{
    float: right;
    height: 2.5vw;
    border-radius: 0.2vw;
    background-color: #eeeeee;
    font-size: 1vw;
    width: 8vw;
    border: none;
    outline: none;
    cursor: pointer;
    margin: 1.2vw 1vw 0;
}

.button
{
    outline: none;
    cursor: pointer;
}

.button:focus
{
    outline: none;
}

.fill-image-container
{
    display: flex;
    align-items: center;
}

.fill-image
{
    display: block;
    width: auto;
    height: auto;
    max-width: 100%;
    max-height: 100%;
    margin: auto;
}

.vegan
{
    width: 2vw;
}

.vegan:after
{
    content: url('/images/produits/vegan.svg');
}

.bio
{
    width: 2vw;
}

.bio:after
{
    content: url('/images/produits/bio.svg');
}

.alcool
{
    width: 2vw;
}

.alcool:after
{
    content: url('/images/produits/alcool.svg');
}

.products-info-container
{
    width: 95%;
    margin: 1.5vw 2.5%;
    background-color: white;
    padding: 1vw 0;
}

.products-info-header
{
    margin: 0 1.5vw;
    width: 96%;
    display: inline-block;
}

.products-info-table
{
    width: 95%;
    margin: 1vw 2.5%;
    background-color: #e0e0e0;
    font-size: 0.9vw;
}

.products-info-td-ref
{
    width: 12%;
    padding-left: 1vw;
    height: 2.5vw;
}

.products-info-td-name
{
    width: 23%;
}

.products-info-td-brand
{
    width: 14%;
}

.products-info-td-cat
{
    width: 12%;
}

.products-info-td-subcat
{
    width: 12%;
}

.products-info-td-mass
{
    width: 10%;
}

.products-info-td-mod
{
    width: 7.5%;
}

.products-info-td-more
{
    width: 2.5%;
}

#products-info-more-display
{
    display: flex;
    align-items: center;
    height: 13vw;
    width: 60%;
    position: fixed;
    bottom: -13vw;
    right: 14%;
    background-color: white;
    box-shadow: 0 0 0.052vw #cccccc;
    transition: all 0.6s cubic-bezier(0.51, -0.57, 0.4, 0.24);
}

#product-info-image
{
    height: 90%;
    width: 20%;
    margin: 0 1%;
    border: 0.052vw solid #eeeeee;
}

#product-info-description
{
    height: 80%;
    margin-left: 2%;
    flex: 1;
    margin-right: 4%;
}

#product-info-tags {}

#product-info-tags .vegan
{
    position: absolute;
    bottom: 0.7vw;
    right: 1vw;
}

#product-info-tags .bio
{
    position: absolute;
    bottom: 0.7vw;
    right: 3.5vw;
}

#product-info-more-hide
{
    position: absolute;
    font-size: 1.2vw;
    right: 1vw;
    top: 1vw;
    cursor: pointer;
}

.product-info-more-icon
{
    font-size: 1vw;
    cursor: pointer;
}

.normal-link
{
    color: blue;
    text-decoration: underline;
}

.add-product-form
{
    width: 95%;
    margin: 1.5vw 2.5%;
    background-color: white;
    padding: 1vw 0;
    display: inline-block;
}

.new-product-fields-container
{
    width: 62%;
    margin: 1vw 0 1vw 2%;
    float: left;
}

.fields-line
{
    display: inline-block;
    width: 100%;
    margin-top: 1vw;
}

.field-line-separator
{
    width: 100%;
    height: 0.1vw;
    background-color: #dddddd;
    margin-top: 1vw;
}

.no-top-margin
{
    margin-top: 0;
}

.field-container
{
    float: left;
    margin-right: 1.5vw;
}

.last-container
{
    margin-right: 0;
    float: right;
}

.field-descriptor
{
    font-size: 1vw;
    font-family: Roboto;
    font-weight: bold;
}

.field-input
{
    width: 15vw;
    margin-left: 0.5vw;
    font-size: 0.9vw;
    padding: 0 0.8vw;
    height: 2vw;
    border-radius: 0.2vw;
    border: 0.052vw solid #ced4da;
    outline: none;
}

.field-checkbox
{
    margin: 0 0.5vw;
}

.field-button
{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 2vw;
    width: 2vw;
    border: #e0e0e0 solid 0.052vw;
    background-color: #eeeeee;
    border-radius: 0.2vw;
    margin-left: 0.4vw;
    float: left;
}

.field-colorpicker
{
    height: 2vw;
    width: 10vw;
    margin-left: 0.5vw;
    border: none;
    background-color: transparent;
    outline: none;
}

.field-text
{
    font-size: 0.95vw;
    margin-left: 0.5vw;
    width: 15vw;
}

.field-date::-webkit-clear-button
{
    display: none;
}

.field-date::-webkit-inner-spin-button
{
    display: none;
}

.button-link
{
    display: flex;
    align-items: center;
    cursor: pointer;
}

.button-link-text
{
    width: 100%;
    text-align: center;
}

.product-brand-select
{
    width: 12vw;
    margin-left: 0.5vw;
}

.custom-select-responsive
{
    border-radius: 0.2vw;
    background-size: 0.43vw 0.536vw;
    border-width: 0.052vw;
    height: 2vw;
    font-size: 0.9vw;
    padding: 0 0.6vw;
    vertical-align: top;
    float: left;
}

.product-measure-unit-select
{
    width: 3.5vw;
    margin-left: 0.3vw;
    font-size: 0.85vw;
}

.new-product-numeric-value
{
    width: 11vw;
}

.new-product-select
{
    width: 15vw;
    margin-left: 0.5vw;
}

.new-product-region-select
{
    width: 14vw;
    margin-left: 0.5vw;
}

.new-product-description-textarea
{
    font-size: 0.9vw;
    width: 99%;
    height: 10vw;
    margin-left: 0.5vw;
    outline: none;
    border-radius: 0.2vw;
    border: 0.052vw solid #ced4da;
    padding: 0 0.3vw;
}

.new-product-description-textarea::-webkit-scrollbar
{
    background-color: transparent;
    width: 0.2vw;
}

.new-product-description-textarea::-webkit-scrollbar-thumb
{
    background-color: #ffa500;
}

.new-product-right-container
{
    float: right;
    width: 30%;
    margin-right: 2%;
    margin-top: 1vw;
}

.new-product-images-container
{
    width: 100%;
    border: 0.052vw solid #b9b9b9;
    border-radius: 0.2vw;
}

.new-product-images-title
{
    width: 100%;
    padding: 1vw;
    font-size: 1vw;
}

.new-product-images-input
{
    padding: 0 1vw 1vw;
}

.new-product-add-button
{
    width: 100%;
    margin-top: 1.5vw;
    background-color: #ffa500;
    height: 3vw;
    border-radius: 0.3vw;
    color: white;
    border: none;
    font-size: 1.1vw;
}

#new-brand-form-container
{
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.4);
    display: none;
    z-index: 999;
}

#new-brand-form
{
    width: 30vw;
    padding: 1vw;
    background-color: white;
    border-radius: 0.2vw;
    margin: 11vw 35vw;
}

.new-brand-form-title
{
    display: inline-block;
    width: 100%;
    font-size: 1.2vw;
}

.new-brand-field
{
    margin: 1vw 0;
    width: 100%;
}

.new-brand-button
{
    border: none;
    width: 60%;
    height: 2vw;
    background-color: #ffa500;
    margin: 0 20%;
    border-radius: 0.2vw;
    color: white;
}

.brands-edit-separator
{
    width: 100%;
    height: 0.052vw;
    background-color: #dddddd;
    margin: 1vw 0 0.5vw;
}

.brands-edit-table-container
{
    width: 95%;
    margin: 0.5vw 2.5%;
    overflow-y: scroll;
    height: 14vw;
}

.brands-edit-table-container::-webkit-scrollbar
{
    background-color: transparent;
    width: 0.2vw;
}

.brands-edit-table-container::-webkit-scrollbar-thumb
{
    background-color: #ffa500;
}

.brands-edit-table
{
    width: 100%;
}

.brands-edit-tablerow
{
    border-bottom: 0.052vw #eeeeee solid;
    height: 2vw;
    font-size: 0.95vw;
}

.brands-edit-id
{
    width: 10%;
    padding-left: 0.5vw;
}

.brands-edit-name
{
    width: 80%;
}

.brands-edit-edit
{
    width: 5%;
}

.brands-edit-remove
{
    width: 5%;
}

.edit-subv-form
{
    width: 40vw;
    background-color: white;
    border-radius: 0.2vw;
    padding: 1vw;
}

.edit-subv-form-add-product-btn
{
    width: auto;
    padding: 0 0.8vw;
    font-size: 0.9vw;
    float: right;
}

.valisettes-info-container
{
    width: 95%;
    margin: 2vw 2.5%;
    height: 40vw;
    display: inline-block;
}

.valisettes-info-vlist-container
{
    float: left;
    height: 100%;
    width: 35%;
    background-color: white;
    padding: 1vw 1.5vw;
}

.valisettes-info-list-title
{
    font-size: 1.4vw;
    width: 100%;
}

.valisettes-info-vlist
{
    width: 100%;
    margin: 0.5vw 0;
    height: 92.5%;
    overflow-y: scroll;
}

.valisettes-info-vlist::-webkit-scrollbar
{
    width: 0.2vw;
    background-color: transparent;
}

.valisettes-info-vlist::-webkit-scrollbar-thumb
{
    background-color: #ffa500;
}

.valisettes-info-vlist-item
{
    width: 100%;
    height: 7vw;
    border-bottom: 0.052vw solid #d9d9d9;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.valisettes-info-vlist-item:hover
{
    background-color: #f0f0f0;
}

.valisettes-info-selected
{
    background-color: #f0f0f0;
}

.valisettes-info-selected::after
{
    content: '\f0d9'; /* fa-caret-left */
    font: normal normal normal 1.5vw/1 FontAwesome; /* fa */
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: white;
}

.valisettes-info-vlist-image
{
    height: 90%;
    margin-left: 2%;
}

.valisettes-info-vlist-name
{
    flex: 1;
    margin-left: 2%;
    margin-right: 4%;
    font-size: 1vw;
}

.valisettes-info-content-product
{
    width: 46%;
    height: 5vw;
    display: flex;
    align-items: center;
    font-size: 0.9vw;
    border: 0.052vw #f2f2f2 solid;
    margin-bottom: 0.5vw;
}

.valisettes-info-content-product-image
{
    height: 85%;
    margin-left: 2%;
}

.valisettes-info-content-product-text
{
    flex: 1;
    margin: 0 10% 0 3%;
    height: 75%;
    position: relative;
}

.valisettes-info-content-product-ref
{
    font-size: 0.85vw;
    color: #7e7e7e;
}

.valisettes-info-content-product-price
{
    font-size: 1vw;
    color: red;
    position: absolute;
    bottom: 0;
    right: -11%;
}

.valisettes-info-content-display
{
    width: 94%;
    height: 20vw;
    margin: 1vw 3%;
    display: inline-block;
    overflow-y: scroll;
}

.valisettes-info-content-display::-webkit-scrollbar
{
    width: 0.2vw;
    background-color: transparent;
}

.valisettes-info-content-display::-webkit-scrollbar-thumb
{
    background-color: #ffa500;
}

.valisettes-info-content-remove
{
    position: absolute;
    right: -11%;
    top: 0;
    cursor: pointer;
}

.valisettes-info-content-button
{
    width: 36%;
    height: 2.5vw;
    border: none;
    font-size: 1vw;
}

.valisettes-info-content-bottom-container
{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}

.valisettes-info-right-container
{
    float: right;
    height: 100%;
    width: 60%;
    background-color: white;
    padding: 1vw 1.5vw;
}

.red-btn
{
    background-color: #ff1500;
    color: white;
}

.orange-btn
{
    background-color: #ffa500;
    color: white;
}

.green-btn
{
    background-color: forestgreen;
    color: white;
}

.darkgray-btn
{
    background-color: #7e7e7e;
    color: white;
}

.edit-subv-form-confirm-button
{
    width: 40%;
    height: 2.5vw;
    border: none;
    font-size: 1vw;
    margin: 0 30%;
}

.add-subv-product-form
{
    width: 40vw;
    background-color: white;
    padding: 1vw;
    border-radius: 0.2vw;
    margin: 10vw 30vw;
}

.add-subv-product-form-title
{
    display: inline-block;
    font-size: 1.2vw;
    width: 100%;
    border-radius: 0.2vw;
}

.add-subv-product-form-field-container
{
    width: 100%;
    margin-top: 1vw;
    position: relative;
}

.full-field
{
    width: 100%;
    margin-left: 0;
}

.add-subv-product-form-searchresults
{
    position: absolute;
    display: none;
    width: 95%;
    border: #eeeeee solid 0.052vw;
    border-radius: 0.2vw;
    padding: 1vw;
    background-color: white;
    margin: 0 2.5%;
}

.add-subv-product-form-searchresults-entry
{
    width: 100%;
    height: 6vw;
    display: inline-block;
    padding: 0.5vw 0;
}

.add-subv-product-form-searchresults-entry-imgcontainer
{
    height: 100%;
    margin-left: 4%;
}

.add-subv-product-form-searchresults-entry-text
{
    width: 65%;
    height: 100%;
    font-size: 1vw;
    margin-right: 3%;
    position: relative;
}

.add-subv-product-form-searchresults-entry-price
{
    color: red;
    font-size: 1.2vw;
    position: absolute;
    right: 0;
    top: 0;
}

.add-subv-product-form-searchresults-entry-button
{
    height: 2vw;
    width: 55%;
    border: none;
    position: absolute;
    right: 0;
    bottom: 0;
}

.regions-container
{
    width: 95%;
    margin: 1vw 2.5%;
    background-color: white;
    padding: 1vw;
}

.regions-title-container
{
    width: 98%;
    display: inline-block;
    margin: 0.5vw 1% 1vw;
}

.regions-add-reg-btn
{
    width: auto;
    padding: 0 0.7vw;
    float: right;
}

.regions-table
{
    width: 100%;
    font-size: 1vw;
    background-color: #e0e0e0;
}

.regions-tablerow
{
    height: 2.5vw;
}

.regions-td-id
{
    width: 7%;
    padding-left: 2%;
}

.regions-td-name
{
    width: 51%;
}

.regions-td-color
{
    width: 17%;
}

.regions-td-negcolor
{
    width: 18%;
}

.regions-td-edit
{
    width: 3%;
}

.regions-td-remove
{
    width: 4%;
}

.new-region-form-container
{
    display: none;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.4);
}

.new-region-form
{
    background-color: white;
    padding: 1vw;
    width: 35%;
    margin: 15vw 32.5%;
}

.new-region-form-title
{
    width: 100%;
    display: inline-block;
    font-size: 1.4vw;
}

.new-region-confirm-btn
{
    width: 100%;
    height: 2.5vw;
    font-size: 1vw;
    border: none;
    margin-top: 1.5vw;
}

.orders-topmsg-container
{
    width: 95%;
    margin: 1.5vw 2.5%;
    padding: 1vw 1.2vw;
    background-color: white;
    font-size: 1vw;
}

.orders-container
{
    width: 95%;
    margin: 1.5vw 2.5%;
    padding: 1vw;
    background-color: white;
}

.orders-table
{
    width: 100%;
}

.orders-tablerow
{
    height: 2vw;
    background-color: #e0e0e0;
}

.genericpages-container
{
    width: 95%;
    margin: 1.5vw 2.5%;
    display: inline-block;
}

.genericpages-choice-container
{
    background-color: white;
    width: 30%;
    height: 42vw;
    padding: 1vw;
    float: left;
}

.genericpages-choice-title
{
    font-size: 1vw;
}

.genericpages-choice-list
{
    width: 100%;
    margin-top: 1vw;
    height: 35vw;
    overflow-y: scroll;
}

.genericpages-choice-list-element
{
    width: 100%;
    border-bottom: 0.052vw #eeeeee solid;
    padding: 0.5vw 0.8vw;
    font-size: 0.9vw;
    font-family: Roboto, sans-serif;
    cursor: pointer;
}

.genericpages-choice-list-element:hover
{
    background-color: #f7f7f7;
}

.genericpages-choice-add-btn
{
    background-color: #9b9b9b;
    height: 2vw;
    font-size: 0.95vw;
    width: 100%;
    border: none;
    color: white;
    margin-top: 0.5vw;
}

.genericpages-edition-container
{
    width: 65%;
    float: right;
    height: 42vw;
    display: flex;
    align-items: center;
}

.genericpages-edition-section
{
    width: 100%;
    padding: 1vw;
    background-color: white;
}

.genericpages-editor-title
{
    font-size: 1.4vw;
    display: inline-block;
    width: 100%;
}

.top-border
{
    border-top: 0.052vw solid #eeeeee;
}

.newgeneric-form-container
{
    display: none;
    background-color: rgba(0, 0, 0, 0.4);
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 12;
}

.newgeneric-form
{
    background-color: white;
    width: 35%;
    border-radius: 0.2vw;
    padding: 1vw;
    margin: 15vw 32.5%;
}

.newgeneric-title-container
{
    display: inline-block;
    width: 100%;
}

.newgeneric-title
{
    font-size: 1.4vw;
    float: left;
}

.newgeneric-close-btn
{
    float: right;
    font-size: 1.2vw;
    cursor: pointer;
}

.newgeneric-form-add-btn
{
    width: 100%;
    height: 2.5vw;
    border: none;
    font-size: 1vw;
    margin-top: 1vw;
}

.indiv-user-form-button
{
    width: 100%;
    border-radius: 0.2vw;
    height: 3vw;
    border: none;
    margin: 0.3vw 0;
    font-size: 1vw;
}

.overlay-container
{
    position: fixed;
    background-color: rgba(0, 0, 0, 0.4);
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    display: none;
    z-index: 15;
    overflow-y: scroll;
}

.alert-form
{
    width: 40vw;
    border-radius: 0.2vw;
    background-color: white;
    padding: 1vw 1.2vw;
    margin: 18vw 30vw;
}

.alert-form-buttons-container
{
    width: 100%;
    display: inline-block;
    margin-top: 2vw;
}

.alert-form-button
{
    width: 40%;
    height: 2.2vw;
    border: none;
}

.alert-form-text-container
{
    width: 100%;
    text-align: justify;
}

.user-page-container
{
    width: 95%;
    background-color: white;
    margin: 1.5vw 2.5%;
    padding: 1vw;
    display: inline-block;
    position: relative;
}

.user-page-buttons-container
{
    float: right;
    width: 25%;
    margin-right: 3%;
}

.user-page-buttons-separator
{
    margin: 0.5vw 0;
}

.user-page-fields-container
{
    float: left;
    width: 65%;
}

.user-page-save-button
{
    height: 2.5vw;
    padding: 0 0.9vw;
    border-radius: 0.2vw;
    border: none;
    font-size: 1vw;
    position: absolute;
    bottom: 1.3vw;
    left: 1vw;
}

.connection-trials-display
{
    width: 60vw;
    background-color: white;
    border-radius: 0.2vw;
    padding: 1vw 1.2vw;
}

.connection-trials-display-title
{
    width: 100%;
    font-size: 1.2vw;
    display: inline-block;
}

.connection-trials-table
{
    width: 100%;
    background-color: #eaeaea;
    font-size: 0.95vw;
}

.connection-trials-tablerow
{
    height: 2vw;
}

.connection-trials-datetime
{
    padding-left: 3%;
    width: 25%;
}

.connection-trials-ip
{
    width: 30%;
}

.connection-trials-country-flag
{
    height: 1.5vw;
    margin-right: 0.5vw;
}

.connection-trials-country
{
    width: 45%;
}

.connection-trials-table-container
{
    width: 100%;
    margin: 1vw 0 0.3vw;
    max-height: 30vw;
    overflow-y: scroll;
}

.connection-trials-table-container::-webkit-scrollbar
{
    width: 0.2vw;
}

.connection-trials-table-container::-webkit-scrollbar-thumb
{
    background-color: grey;
}

.users-container
{
    width: 95%;
    background-color: white;
    margin: 1.5vw 2.5%;
    padding: 1vw;
}

.users-table
{
    width: 100%;
    font-size: 0.95vw;
    margin-top: 1vw;
}

.users-tablerow
{
    background-color: #eaeaea;
    height: 2.5vw;
}

.users-td-id
{
    padding-left: 1.5%;
    width: 12.5%;
}

.users-td-name
{
    width: 22%;
}

.users-td-mail
{
    width: 26.5%;
}

.users-td-phone
{
    width: 9.5%;
}

.users-td-lastco
{
    width: 22.5%;
}

.users-td-more
{
    width: 5.5%;
}

.mailing-container
{
    width: 100%;
    display: flex;
    margin-top: 3vw;
}

.mailing-addresses-book
{
    background-color: white;
    flex: 1;
    padding: 1vw;
    margin-left: 8%;
    margin-right: 2%;
    font-size: 0.95vw;
}

.mailing-addresses-book-title
{
    font-size: 1.2vw;
    width: 100%;
    padding-bottom: 0.8vw;
}

.mailing-addresses-book-entry
{
    width: 100%;
    border-bottom: #eeeeee 0.052vw solid;
    padding: 0.2vw 0.5vw;
    cursor: pointer;
}

.mailing-addresses-book-entry:hover
{
    background-color: #f0f0f0;
}

.mailing-addresses-book-entry span
{
    color: #9b9b9b;
}

.mailing-addresses-book-entries
{
    height: 29vw;
    overflow-y: scroll;
}

.mailing-addresses-book-entries-initial-border
{
    width: 100%;
    border-bottom: #EEEEEE 0.052vw solid;
}

.page-select-bottom-container
{
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 1vw;
}

.page-select-zone
{
    display: inline-block;
    font-size: 1.2vw;
}

.switch-page-button
{
    margin: 0 0.5vw;
}

.page-select-field
{
    width: 3vw;
    padding-right: 0.052vw;
    padding-left: 0.15vw;
    text-align: center;
}


.dashboard-order-container
{
    background-color: white;
    width: 95%;
    margin: 2vw 2.5%;
    padding: 1.5vw 3vw;
}

.order-status-progress-bar
{
    width: 84%;
    height: 5vw;
    margin: 3vw 8% 0;
    position: relative;
}

.order-progress-bar
{
    height: 0.5vw;
    position: relative;
    background-color: #e6e6e6;
}

.order-progress-bar > span
{
    display: block;
    height: 100%;
    border-radius: 1vw;
    background-color: deepskyblue;
    position: relative;
    overflow: hidden;
    transition: width 1s cubic-bezier(0.01, 0.57, 0.16, 0.96);
}

.order-progress-bar-step
{
    position: absolute;
    height: 3vw;
    width: 3vw;
    border-radius: 1.5vw;
    background-color: deepskyblue;
    top: -1.25vw;
}

.order-progress-bar-step-enabled
{
    background-color: deepskyblue;
}

.order-progress-bar-step-disabled
{
    background-color: #e6e6e6;
}

.order-progress-bar-step-icon
{
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #FFFFFF;
    font-size: 1vw;
}

.order-progress-bar-step-desc
{
    position: absolute;
    top: 3vw;
    width: 8vw;
    height: 3vw;
    color: black;
    text-align: center;
    font-size: 0.8vw;
    left: -2.5vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

.order-progress-bar-step-1
{
    left: -1.5vw;
}

.order-progress-bar-step-2
{
    left: 17.3vw;
}

.order-progress-bar-step-3
{
    right: 17.3vw;
}

.order-progress-bar-step-4
{
    right: -1.5vw;
}

.order-status-description
{
    width: 88%;
    margin: 1vw 3%;
    background-color: #eeeeee;
    padding: 3%;
    line-height: 1.2vw;
    font-size: 1vw;
}

.order-status-container
{
    width: 100%;
}

.order-addresses-container
{
    width: 80%;
    display: flex;
    margin: 3vw 10% 0;
    font-size: 1.1vw;
}


.order-delivery-address-container
{
    float: left;
}

.order-billing-address-container
{
    margin-left: 8%;
    float: right;
}

.order-address-container
{
    width: 40%;
    background-color: #FFFFFF;
    padding: 3%;
    border: 0.0532vw solid rgba(200, 200, 200, 0.2);
    box-shadow: 0 0.0532vw 0.0532vw lightgray;
}

.order-address-title
{
    margin-bottom: 0.3vw;
}

.order-products-container
{
    padding: 3%;
    margin-top: 1vw;
}

.order-products-title
{
    font-size: 1.6vw;
    margin-bottom: 1.2vw;
}

.order-products-subcontainer
{
    padding: 0% 2%;
}

.order-products-header
{
    background-color: #e6e6e6;
    padding: 1% 2%;
    font-size: 1vw;
}

.order-products-container
{
    padding: 1%;
    display: inline-block;
    width: 98%;
}

.order-product-display
{
    width: 42%;
    padding: 2%;
    border: 0.052vw solid #eeeeee;
    height: 5vw;
    display: inline-block;
    margin: 0.7vw 0.5vw;
    box-sizing: content-box;
}

.order-product-picture
{
    float: left;
    width: 20%;
    border: 0.052vw solid #eeeeee;
    height: 5vw;
    margin-left: 0.8vw;
    padding: 0.5vw 0;
    cursor: pointer;
}

.order-product-infos
{
    float: right;
    width: 60%;
    position: relative;
    height: 100%;
}

.order-product-title
{
    font-size: 1.2vw;
    font-weight: bold;
}

.order-product-brand
{
    font-size: 0.7vw;
    margin-left: 0.1vw;
}

.order-product-qty
{
    font-size: 0.9vw;
    margin-left: 0.1vw;
}

.order-product-totalprice
{
    position: absolute;
    right: 1vw;
    bottom: 0;
    font-size: 1vw;
}

.dashboard-qrcodes-overlay
{
    align-items: center;
    justify-content: center;
}

.dashboard-qrcodes-menu
{
    background-color: white;
    border-radius: 0.2vw;
    padding: 1vw 1.2vw;
    width: 22.4vw;
}

.dashboard-qrcode-display
{
    width: 20vw;
    height: 20vw;
    border: 1px solid #9b9b9b;
    margin: 2.5vw 0 0.5vw;
}

.dashboard-qrcodes-menu-btn
{
    width: 20vw;
    height: 2.5vw;
    border: none;
}

.order-sum-container
{
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.order-sum
{
    width: 35em;
}

.order-sum-title
{
    font-size: 1.2em;
    margin-left: 0.5em;
    margin-bottom: 0.5em;
}

.order-sum-entry {}
.order-sum-entry-qsection {}

.order-sum-entry-qsection-btn
{
    font-size: 75% !important;
    color: #007bff;
    cursor: pointer;
}

.order-sum-entry-confirmed
{
    font-size: 75% !important;
    color: white;
}

.order-admin-section
{
    width: 88%;
    margin: 1vw 3%;
    background-color: white;
    border: 0.052vw solid #eeeeee;
    font-size: 1vw;
    height: 6vw;
    display: flex;
    align-items: center;
    padding: 0 2.5vw;
}

.order-admin-btn
{
    width: auto;
    padding: 0 1vw;
    font-size: 0.9vw;
}


.import-products-container
{
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.import-products-box
{
    border: 1px #353535 solid;
    border-radius: 20px;
    background-color: white;
    padding: 15px 18px;
    width: 35em;
}

.import-products-title
{
    font-size: 18pt;
    width: 100%;
    margin-bottom: 0.5em;
}

.dashboard-login-container
{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.dashboard-login-form
{
    width: 20em;
    border: 1px solid #9b9b9b;
    background-color: white;
    color: black;
}

.dashboard-login-top
{
    width: 100%;
    border-bottom: 1px solid #9b9b9b;
    text-align: center;
    font-size: 13pt;
    padding: 0.8em 0 1.2em 0;
}

.dashboard-login-bottom
{
    width: 100%;
    padding: 1em 1.2em;
}

.dashboard-login-field
{
    width: 100%;
    margin-left: 0;
    margin-bottom: 0.5em;
}

.dashboard-login-button
{
    width: 100%;
    border: none;
    height: 2.0em;
    font-size: 14pt;
    margin-top: 0.5em;
}

.trumbowyg-box
{
    max-height: 100% !important;
    min-height: 5vw !important;
}