
@font-face
{
    font-family: 'bromello';
    src: url('../fonts/bromello.eot') format('embedded-opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face
{
    font-family: 'bromello';
    src:  url('../fonts/bromello.otf')  format('opentype'),
	      url('../fonts/bromello.woff') format('woff'), url('../fonts/bromello.ttf')  format('truetype'), url('../fonts/bromello.svg#bromello') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face
{
    font-family: 'Abril';
    src: url('../fonts/AbrilFatface-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face
{
    font-family: 'Poiret One';
    src: url('../fonts/PoiretOne-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face
{
    font-family: 'Quicksand';
    src: url('../fonts/Quicksand-Bold.ttf') format('truetype');
    font-weight: bold;
}

@font-face
{
    font-family: 'Quicksand';
    src: url('../fonts/Quicksand-Regular.ttf') format('truetype');
    font-weight: normal;
}

@font-face
{
    font-family: 'Quicksand';
    src: url('../fonts/Quicksand-Medium.ttf') format('truetype');
    font-weight: 500;
}

@font-face
{
    font-family: 'Montserrat';
    src: url('../fonts/Montserrat-Regular.otf') format('opentype');
    font-weight: 400;
}

@font-face
{
    font-family: 'Montserrat';
    src: url('../fonts/Montserrat-Bold.otf') format('opentype');
    font-weight: bold;
}