*
{
    margin: 0;
    padding: 0;
}

body
{
    background-color: #FFFFFF;
    width: 100%;
    padding: 0;
    margin: 0;
    font-family: 'Montserrat', sans-serif, 'Arial';
    margin-bottom: 280px;
}

html
{
    min-height: 100%;
    position: relative;
}

.bromello
{
    font-family: 'bromello', 'Arial';
}

.poiret
{
    font-family: 'Poiret One', 'Arial';
}

.abril
{
    font-family: 'Abril', 'Arial';
}

.quicksand
{
    font-family: 'Quicksand', sans-serif, 'Arial';
}

.montserrat
{
    font-family: 'Montserrat', sans-serif, 'Arial';
}

.roboto
{
    font-family: 'Roboto', sans-serif;
}

.bold
{
    font-weight: bold !important;
}

.medium
{
    font-weight: 500;
}

.colored-bg { background-color: black }
.colored-font { color: #8c7748 }
.colored-font-opposite { color: #FFFFFF }
.black-bg { background-color: black }

input[type=date]{
    font-family: 'Montserrat', sans-serif, 'Arial';
}

.topbar
{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 2vw;
    display: inline-block;
    background-color: #1a1919;
    color: #FFFFFF;
    font-size: 0.7vw;
    z-index: 667;
    font-family: 'Montserrat', sans-serif;
}

.topbar-element
{
    float: left;
    height: 100%;
    display: flex;
    align-items: center;
    padding: 0 0.7vw;
    color: white;
}

.topbar-border-left
{
    border-left: 0.052vw beige solid;
}

.topbar-border-right
{
    border-right: 0.052vw beige solid;
}

.right
{
    float: right;
}

.left
{
    float: left;
}

.overlay-container
{
    position: fixed;
    background-color: rgba(0, 0, 0, 0.4);
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    display: none;
    z-index: 5000;
}

#shopping-cart-section
{
    background-color: #8c7748;
    text-align: right;
    direction: rtl;
    font-size: 0.7vw;
    padding-right: 0.532vw;
    padding-left: 0.532vw;
    overflow: hidden;
    -webkit-transition: all 0.6s ease-out;
    -moz-transition: all 0.6s ease-out;
    -ms-transition: all 0.6s ease-out;
    -o-transition: all 0.6s ease-out;
    transition: all 0.6s ease-out;
    cursor: pointer;
    transform: scale(1);
}

#shopping-cart-icon
{
    margin: 0 0.26598vw;
}

.search-bar
{
    height: 1.5vw;
    background-color: slategrey;
    display: flex;
    align-items: center;
    padding: 0 0.6vw;
}

#search_box
{
    background-color: transparent;
    color: #FFFFFF;
    border: none;
    text-align: left;
    outline: none;
    font-size: 0.7vw;
}

#search_box::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: #FFFFFF;
    opacity: 0.8;
    font-style: italic;
}

#search_box::-moz-placeholder { /* Firefox 19+ */
    color: #FFFFFF;
    opacity: 0.8;
    font-style: italic;
}

#search_box:-ms-input-placeholder { /* IE 10+ */
    color: #FFFFFF;
    opacity: 0.8;
    font-style: italic;
}

#search_box:-moz-placeholder { /* Firefox 18- */
    color: #FFFFFF;
    opacity: 0.8;
    font-style: italic;
}

a
{
    text-decoration: none;
    color: black;
}

#overhaul
{
    position: fixed;
    z-index: 1337;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: white;
    overflow: hidden;
    transition: all 1.2s ease-out;
    box-shadow: 0px 4px 20px #c1c1c1;
}

#top-container
{
    display: flex;
    width: 100%;
    background-color: #FFFFFF;
}

#sidebar
{
    width: 23%;
    float: left;
    color: white;
    /*padding-top: 13vw; /* Potentiellement à ajuster */
    padding-right: 1%;
    padding-left: 1%;
}

.sidebar-content
{
    padding-top: 16.5vw;
    display: table;
    width: 100%;
}

.sidebar-menu-container
{
    width: 11vw;
    margin: 0 auto;
    text-transform: uppercase;
}

.menu-category-item
{
    font-size: 1.3vw;
    margin: 2vh 0;
    opacity: 0.4;
    cursor: pointer;
    transition: opacity .25s ease-out;
    -moz-transition: opacity .25s ease-out;
    -webkit-transition: opacity .25s ease-out;
    -o-transition: opacity .25s ease-out;
}

.menu-category-item:hover
{
    opacity: 1;
}

.menu-category-item-active
{
    opacity: 1;
}

#topsection
{
	width: 75%;
	float: right;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    border-color: black;
    border-top: 1px solid;
    border-bottom: 1px solid;
    position: relative;
}

#page-container
{
    width: 100%;
    margin-top: 1vw; /* because 0.9vw of region text */
}

#topsection-texttop
{
    display: inline-block;
    width: 100%;
    margin-top: 20px;
}

#topsection-textbottom
{
    text-transform: uppercase;
    font-size: 1.8vw;
    width: 100%;
    text-align: center;
    position: absolute;
    bottom: 0;
    margin-bottom: -0.9vw;
    /*background-color: #FFFFFF;*/
}

#topsection-textbottom-span
{
    background-color: #FFFFFF;
    padding: 0 100px 0 100px;
}

.navigation-bar
{
    background-color: white;
    width: 100%;
    height: 7.979vw;
    display: inline-block;
    z-index: 1;
}

.navigation-bar-menu
{
    float: right;
    margin-top: 3.4vw;
    width: 41vw;
    margin-right: 4vw;
    font-size: 1vw;
    display: inline-block;
    position: relative;
}

.navbar-li
{
    float: left;
    height: 3vw;
    padding: 0 1vw;
    margin: 0 1vw;
    cursor: pointer;
    display: flex;
    align-items: center;
    transition: 0.2s all ease-out;
}

.navbar-li:hover
{
    background-color: #f5f5f5;
}

.navdisplay
{
    position: absolute;
    background-color: #f5f5f5;
    width: 70vw;
    min-height: 1vw;
    top: 3vw;
    left: -29vw;
    transition: 0.2s all ease-out;
    padding: 1%;
    z-index: 666;
    cursor: default;
    box-shadow: 0 0.052vw 0.1vw #c4c4c4;
}

.navdisplay-object
{
    float: left;
    display: flex;
    align-items: center;
    width: 31.25%;
    margin: 1% 1%;
    height: 13vw;
    text-transform: uppercase;
    transition: 0.2s all ease-out;
    position: relative;
    cursor: pointer;
    box-shadow: 0.052vw 0.052vw 0.052vw #eeeeee;
}

.navdisplay-valisette-object
{
    width: 45.5%;
    height: 13vw;
    margin: 1.5%;
    padding-left: 1%;
    background-color: #ffffff;
    display: flex;
    align-items: center;
    box-shadow: 0.052vw 0.052vw 0.052vw #eeeeee;
    border: 0.052vw #eeeeee solid;
}

.navdisplay-object-text
{
    width: 100%;
    text-align: center;
    z-index: 667;
    opacity: 0;
    transition: 0.2s all ease-out;
}

.navdisplay-object-overlay
{
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0;
    background-color: #242424;
    transition: 0.2s all ease-out;
}

#boxes-navdisplay
{
    display: none;
    width: 60vw;
}

#products-navdisplay
{
    display: none;
}

#logo
{
    position: absolute;
    margin-top: 3.1915vw;
    margin-left: 3.5vw;
    width: 17vw;
    height: auto;
    float: left;
    z-index: 666;
}

#footer-protection
{
    height: 280px; /* Doit être la même que celle du footer */
}

.footer
{
    background-color: white;
    width: 100%;
    font-size: 65%;
    bottom: 0;
    position: absolute;
    height: 280px;
    overflow: hidden;
    /*box-shadow: 0px -4px 15px #eeeeee;*/
    border-top: 1px solid black;
}

.footer-menus
{
    display: inline-block;
    width: 100%;
    margin-bottom: 60px;
}

.footer-menu
{
    list-style: none;
    display: block;
    color: #000000;
    margin-top: 4%;
    float: left;
    margin-left: 12%;
    padding-left: 40px;
}

.footer-link
{
    margin-bottom: 3px;
}

.footer-separator
{
    background-color: #000000;
    width: 25px;
    height: 1px;
    margin-top: 5px;
    margin-bottom: 10px;
}

.footer-madein
{
    text-align: center;
    margin-bottom: 10px;
    font-size: 15px;
}

.slide-out {
    animation: slide-out 0.5s forwards;
    -webkit-animation: slide-out 0.5s forwards;
}

@keyframes slide-out {
    0% { transform: translateX(0%); }
    100% { transform: translateX(-100%); }
}

@-webkit-keyframes slide-out {
    0% { -webkit-transform: translateX(0%); }
    100% { -webkit-transform: translateX(-100%); }
}

#product-display-container
{
    width: 64vw;
    margin: 3vw 7vw 3vw 3vw;
    display: inline-block;
}

.product-title-section
{
    display: inline-block;
    width: 100%;
}

.product-title
{
    font-size: 1.4vw;
    float: left;
}

.product-title-icon
{
    float: right;
    width: 2.5vw !important;
    margin-left: 0.5vw;
}

.product-image-container
{
    width: 23%;
    height: 20vw;
    border: 0.1565vw solid darkgray;
    float: left;
    margin-top: -0.1565vw;
    margin-left: -0.1565vw;
    display: flex;
    align-items: center;
}

.slick-slide
{
    height: auto !important;
}

.slick-prev:before
{
    color: black !important;
}

.slick-next:before
{
    color: black !important;
}

.product-info-container
{
    width: 73%;
    float: right;
}

.product-description-container
{
    margin-top: 1vw;
    font-size: 1.1vw;
    min-height: 11.3vw;
}

.product-buy-container
{
    vertical-align: bottom;
    display: table-cell;
    padding-top: 1vw;
    float: right;
    width: 100%;
}

.product-buy-price
{
    font-size: 2vw;
    float: right;
}

.product-buy-ref
{
    float: left;
}

.product-buy-form
{
    display: inline-block;
    float: right;
}

.no-products
{
    margin: 10vh auto;
    font-size: 3vh;
    width: 100%;
    text-align: center;
}

/* PRODUCTS DEPT */

.product-listing-container
{
    width: 80%;
    background-color: #FFFFFF;
    margin: 2% auto 30px auto;
}

.products-topcontainer
{
    display: inline-block;
    width: 100%;
    height: 60px;
}

.filter-box
{
    float: left;
    width: 80%;
    background-color: transparent;
    margin: 0 10%;
    display: inline-block;
    /*padding: 0.9% 0.9% 0.9% 0.9%;*/
    /*max-width: 300px;*/
    overflow: auto;
}

.filter-box-title
{
    font-size: 1.5vw;
    /*margin-left: -5%;*/
    float: left;
}

.filter-box-sections
{
    float: left;
    width: 100%;
    overflow: hidden;
}

.filter-category
{
    font-size: 1vw;
    display: table;
    margin: 0 auto 10px auto;
    color: #8c7748;
    padding: 3px 0 10px 0;
}

.category-name
{
    font-size: 2vw;
}

.subcat-name
{
    font-size: 1.8vw;
    text-transform: uppercase;
    margin-left: 1.2%;
    margin-bottom: 1.2%;
    letter-spacing: 0.13vw;
}

.subcat-container
{
    width: 100%;
}

.subcat-products-container
{
    display: inline-block;
    width: 100%;
}

.filter-checkbox-acc
{
    padding: 3px 0 3px 0;
}

.filters-button
{
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 5px;
    height: 32px;
    border: none;
    background-color: #1a1919;
    color: white;
    cursor: pointer;
    font-family: 'Montserrat', sans-serif, 'Arial';
}

.filters-button:hover
{
    background-color: #2a2929;
}

.filters-button:focus
{
    outline: none;
}

.checkboxes-container
{
    display: table;
    margin: 0 auto;
}

.custom-checkbox:not(:checked),
.custom-checkbox:checked
{
    position: absolute;
    left: -1000%;
}

.custom-checkbox:not(:checked) + label,
.custom-checkbox:checked + label
{
    position: relative;
    padding-left: 24px;
    cursor: pointer;
    font-size: 15px;
    margin-left: 20px;
    line-height: 22px;
}

.custom-checkbox:not(:checked) + label:before,
.custom-checkbox:checked + label:before
{
    content: '';
    position: absolute;
    left: 0;
    top: 1px;
    width: 17px;
    height: 17px;
    background: #eeeeee;
    border-radius: 3px;
}

.custom-checkbox:not(:checked) + label:after,
.custom-checkbox:checked + label:after
{
    content: '✔';
    position: absolute;
    top: -1px;
    left: 3px;
    font-size: 14px;
    color: #8c7748;
    -webkit-transition: all .2s;
    -moz-transition: all .2s;
    -ms-transition: all .2s;
    transition: all .2s;
}

.custom-checkbox:not(:checked) + label:after
{
    opacity: 0;
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    -ms-transform: scale(0);
    transform: scale(0);
}

.custom-checkbox:checked + label:after
{
    opacity: 1;
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
}

.custom-checkbox:checked:focus + label:before,
.custom-checkbox:not(:checked):focus + label:before
{
    box-shadow: inset 0 1px 3px rgba(200, 200, 200, 0.3);
}

.product-box
{
    padding: 0.9vw;
    margin: 1.8vw 4vw;
    width: 29.5vw;
    height: 18vw;
    float: left;
    display: inline-block;
    position: relative;
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -ms-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    transition: all 0.2s ease;
}

.product-preview
{
    display: flex;
    align-items: center;
    height: 100%;
    width: 43%;
    margin-top: -0.052vw;
    margin-left: -0.052vw;
    border: 0.052vw solid darkgray;
    float: left;
}

.product-preview:hover
{
    cursor: pointer;
}

.product-text
{
    display: inline-block;
    float: right;
    width: 52%;
    font-size: 1.1vw;
}

.product-name
{
    margin: 15px 0 10px 0;
    float: left;
    font-size: 1.3vw;
    text-align: justify;
    cursor: pointer;
    width: 100%;
}

.product-price
{
    position: absolute;
    bottom: 25%;
    right: 20px;
    font-size: 2vw;
}

.product-addtocart-section
{
    position: absolute;
    bottom: 5%;
    right: 20px;
    width: 14vw;
    height: 3vw;
    display: inline-block;
}

.product-addtocart-btn
{
    display: inline-block;
    float: right;
    width: 10vw;
    height: 2vw;
    border: none;
    color: #FFFFFF;
    cursor: pointer;
}

.product-addtocart-btn:active
{
    filter: brightness(90%);
}

.product-addtocart-btn:focus
{
    outline: none;
}

.product-addtocart-btn-text
{
    width: 80%;
    float: right;
    font-size: 0.85vw;
    margin-top: 0.15vw;
    font-weight: bold;
}

.product-addtocart-btn-icon
{
    width: 15%;
    height: auto;
    float: left;
    margin-left: 2.5%;
}

.product-selector
{
    background-color: white;
    width: 3.8vw;
    float: right;
    height: 2vw;
}

/*.product-selector select  In case we need to switch to selector
{
    font-size: 14px;
    border: none;
    width: 100%;
    margin: 0;
}*/

.product-selector input
{
    width: 100%;
    font-size: 0.95vw;
    height: 100%;
    direction: rtl;
    padding-right: 0.2vw;
    border: 0.052vw solid gray;
}

.product-selector input::-webkit-inner-spin-button,
.product-selector input::-webkit-outer-spin-button
{
    opacity: 1;
}

.product-selector input:focus
{
    outline: none;
}

.product-path
{
    width: 100%;
    height: 0.5vw;
    border-bottom: 0.104vw solid gray;
    text-align: center;
}

.product-path-text
{
    background-color: white;
    font-size: 1vw;
    padding: 0 2vw;
    text-transform: uppercase;
}

#pattern-header
{
    width: 100%;
    height: 4vw;
    margin: 1vw 0 1.5vw 0;
    background-image: url('/../images/produits/default_product.png');
    /*background-size: 70vw 27.94vw*/
}

.valisette-header-bg
{
    width: 100%;
    height: 40vw;
    display: inline-block;
    background-size: auto 100%;
}

.valisette-header-bg img
{
    width: auto;
    height: 100%;
    float: left;
}

.valisette-header-text
{
    width: 30%;
    height: 100%;
    float: right;
    display: flex;
    align-items: center;
    direction: rtl;
    margin-right: 1%;
}

.valisette-header-text-valisette
{
    font-size: 3vw;
    color: #8c7748;
    letter-spacing: 0.1vw;
}

.valisette-header-text-region
{
    text-transform: uppercase;
    font-size: 2vw;
}

.valisette-ourselection-container
{
    width: 100%;
    height: 1vw;
    border-bottom: 0.104vw solid gray;
    text-align: center;
}

.valisette-ourselection-text
{
    background-color: #FFFFFF;
    font-size: 2vw;
    padding: 0 2vw;
    text-transform: uppercase;
    letter-spacing: 0.2vw;
}

.valisette-content
{
    display: inline-block;
    width: 90%;
    margin: 0 5% 2.5vw;
}

.valisette-product
{
    width: 32.5vw;
    height: 16vw;
    background-color: #eeeeee;
    margin: 1vw auto;
    display: inline-block;
    padding: 2px;
}

.valisette-product-vignette
{
    display: flex;
    align-items: center;
    border: 0.104vw solid darkgray;
    margin-top: -0.104vw;
    margin-left: -0.104vw;
    width: 35%;
    height: 100%;
    background-color: #FFFFFF;
    float: left;
}

.valisette-product-content
{
    height: 100%;
    float: right;
    width: 50%;
    margin-right: 5%;
}

.valisette-product-text
{
    height: 13.5vw;
    display: flex;
    align-items: center;
    font-size: 1.2vw;
}

.valisette-markers-container
{
    display: inline-block;
    height: 1.5vw;
    width: 100%;
    float: left;
    direction: rtl;
}

.valisette-marker
{
    width: 1.5vw;
    height: 1.5vw;
    border-radius: 0.75vw;
    float: right;
    margin-right: 0.25vw;
}

.valisette-vignettes-prices
{
    height: 25vw;
    width: 85%;
    display: flex;
    align-items: center;
    margin: 0 auto;
}

.valisette-addtocart-btn
{
    height: 22vw;
    width: 22vw;
    border-radius: 11vw;
    font-size: 7.5vw;
    color: white;
    display: flex;
    align-items: center;
    margin: 0 auto;
    cursor: pointer;
    -webkit-transition: all 0.2s ease-out;
    -moz-transition: all 0.2s ease-out;
    -o-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
}

.valisette-addtocart-btn:hover
{
    filter: brightness(95%);
    box-shadow: #6e6e6e 0 0 50px;
}

.valisette-addtocart-btn-text
{
    width: 100%;
    text-align: center;
}

.valisette-color-refs-container
{
    display: flex;
    align-items: center;
    margin-bottom: 1vw;
}

.valisette-color-ref
{
    font-size: 1vw;
    height: 1.2vw;
    display: flex;
    align-items: center;
    margin: 0 0.7vw;
}

.valisette-color-ref-sticker
{
    height: 1vw;
    width: 1vw;
    border-radius: 0.5vw;
    float: left;
    margin-right: 0.4vw;
}

.valisette-color-ref-text
{
    float: right;
}

.sidebar-link
{
    color: #FFFFFF;
    display: inline-block;
    font-size: 1vw;
    width: 100%;
    text-transform: uppercase;
    text-transform: uppercase;
}

.sidebar-link-dot
{
    width: 7%;
    height: auto;
    float: left;
    margin-top: 0.15vw;
    filter: blur(0.4px);
}

.sidebar-link-text
{
    float: right;
    width: 90%;
    font-size: 1.2vw;
    letter-spacing: 0.1vw;
}

.sidebar-country-container
{
    position: relative;
    margin-left: -4.6vw;
    width: 33vw;
    height: auto;
    background-size: contain;
    background-repeat: no-repeat;
    z-index: 10;
}

.masked
{
    -webkit-mask: url("/../images/regions/carte_sidebar/france_mask.svg");
    -webkit-mask-size: 100%;
}

.medelice-bottom
{
    height: 2vw;
    width: 100%;
    border-bottom: 0.104vw solid darkgray;
    text-align: center;
}

.medelice-bottom-text
{
    font-size: 1.2vw;
    padding: 0 1vw;
    background-color: white;
}

.medelice-france-text
{
    width: 16vw;
    position: absolute;
    top: 19vw;
    font-size: 1.8vw;
    left: 22vw;
    background: white;
    background: -webkit-linear-gradient(left bottom, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0)30%, rgba(255, 255, 255, 1)50%, rgba(255, 255, 255, 1)100%);
    background: -o-linear-gradient(top right, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0)30%, rgba(255, 255, 255, 1)50%, rgba(255, 255, 255, 1)100%);
    background: -moz-linear-gradient(top right, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0)30%, rgba(255, 255, 255, 1)50%, rgba(255, 255, 255, 1)100%);
    background: linear-gradient(to top right, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0)30%, rgba(255, 255, 255, 1)50%, rgba(255, 255, 255, 1)100%);
}

.home-headtext
{
    text-transform: uppercase;
    width: 85%;
    margin: 2vw auto 2vw;
    font-size: 1.7vw;
    text-align: justify;
    text-align-last: justify;
}

.medelice-home-text
{
    width: 70%;
    margin: 0 7.5% 0 auto;
    font-size: 1.1vw;
    letter-spacing: 0.05vw;
    min-height: 23vw;
}

.medelice-home-text-bottom
{
    font-size: 2.5vw;
    margin-top: 2vw;
}

.medelice-home-bar
{
    height: 0.95vw;
    border-bottom: 0.104vw solid darkgray;
    width: 100%;
    text-align: center;
}

.medelice-home-bar-text
{
    font-size: 1.8vw;
    background-color: #FFFFFF;
    padding: 0 3vw;
    text-transform: uppercase;
    letter-spacing: 0.2vw;
}

#medelice-home-occasions-container
{
    width: 90%;
    margin: 4vw 5% 3.5vw;
    color: #FFFFFF;
    display: flex;
}

#medelice-home-occasions-perso
{
    width: 25%;
    background-color: #c39367;
    float: left;
    margin-right: 5%;
    padding: 0.8vw 2.5% 1.5vw;
}

#medelice-home-occasions-pro
{
    width: 30%;
    background-color: #b0aa7e;
    float: left;
    padding: 0.8vw 2.5% 1.5vw;
}

#medelice-home-occasions-soc
{
    width: 20%;
    background-color: #8c857b;
    float: left;
    margin-left: 5%;
    padding: 0.8vw 2.5% 1.5vw;
}

.medelice-home-occasions-cat-title
{
    font-size: 3vw;
}

.medelice-home-occasions-cat-text
{
    font-size: 1.05vw;
    line-height: 1.4vw;
}

#medelice-home-occasions-bottom
{
    width: 90%;
    margin: 0 auto 3.5vw;
    text-align: center;
    font-size: 1.2vw;
}

#search-results
{
    display: none;
    position: fixed;
    width: 30vw;
    top: 2vw;
    right: 3vw;
    min-height: 1vw;
    background-color: white;
    border: 1px solid gray;
    border-radius: 0.1vw;
    z-index: 1337;
    box-shadow: 2px 2px 3px darkgray;
    color: black;
    -webkit-transition: all 0.2s ease-out;
    -moz-transition: all 0.2s ease-out;
    -o-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
    opacity: 0;
    padding: /*1.5vw*/ 1vw;
}

.search-result
{
    height: 3vw;
    width: 100%;
    position: relative;
    display: inline-block;
    padding: 0.5vw 0;
    cursor: pointer;
}

.search-result:hover
{
    background-color: #eeeeee;
}

.search-result-preview-valisette
{
    height: 4vw;
    margin-top: -0.5vw;
    float: left;
    margin-right: 5%;
    margin-left: 0.8vw
}

.search-result-preview-product
{
    margin-right: 5%;
    margin-left: 0.8vw;
    width: 4.053vw;
    height: 4vw;
    margin-top: -0.5vw;
    display: flex;
    align-items: center;
    float: left;
}

.search-result-name
{
    float: left;
    font-size: 1vw;
    height: 100%;
    display: flex;
    align-items: center;
    max-width: 45%;
}

.search-result-price
{
    float: right;
    font-size: 1.5vw;
    color: #8c7748;
    height: 100%;
    display: flex;
    align-items: center;
    margin-right: 0.8vw;
}

.noselect
{
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.cart-table
{
    width: 98%;
    margin: 0 auto;
    border-collapse: collapse;
    overflow: hidden;
}

.cart-table th
{
    padding-bottom: 0.5vw;
}

.cart-table th, td
{
    border-bottom: 1px solid gray;
}

.cart-table-row
{
    height: 11.6vw;
}

.cart-table-product-name
{
    font-size: 1.3vw;
    margin-left: 3%;
}

.cart-table-product-desc
{
    font-size: 1.1vw;
    margin-left: 3%;
}

.cart-table-product-price
{
    font-size: 1.5vw;
    color: #8c7748;
    width: 100%;
    text-align: center;
}

.cart-table-product-total-price
{
    font-size: 1.5vw;
    text-align: center;
    width: 100%;
}

.cart-table-quantity-container
{
    width: 7vw;
    margin: auto 1.645vw;
    display: inline-block;
    height: 1.5vw;
}

.cart-table-quantity-btn
{
    float: left;
    width: 1.5vw;
    height: 100%;
    border: none;
    outline: none;
    background-color: #a0782f;
    color: white;
    padding: 0.104vw;
    cursor: pointer;
}

.cart-table-quantity-field
{
    float: left;
    width: 4vw;
    height: 100%;
    font-size: 1vw;
    text-align: center;
    border: 0.104vw solid #a0782f;
    outline: none;
}

.cart-table-remove-container
{
    width: 100%;
}

.cart-table-remove-btn
{
    height: 2vw;
    width: 2vw;
    margin: auto 2.675vw;
    border: none;
    outline: none;
    background-color: #a0782f;
    cursor: pointer;
}

.fill-image-container
{
    display: flex;
    align-items: center;
}

.fill-image
{
    display: block;
    width: auto;
    height: auto;
    max-width: 100%;
    max-height: 100%;
    margin: auto;
}

.cgu-checkbox:not(:checked),
.cgu-checkbox:checked
{
    position: absolute;
    left: -9999px;
}

.cgu-checkbox:not(:checked) + label,
.cgu-checkbox:checked + label
{
    position: relative;
    padding-left: 3vw;
    cursor: pointer;
    font-size: 1vw;
    line-height: 2.2vw;
}

.cgu-checkbox:not(:checked) + label:before,
.cgu-checkbox:checked + label:before
{
    content: '';
    position: absolute;
    left: 0;
    width: 2vw;
    height: 2vw;
    background: #FFFFFF;
    border: 0.104vw solid #a0782f;
}

.cgu-checkbox:not(:checked) + label:after,
.cgu-checkbox:checked + label:after
{
    font-family: FontAwesome, 'Arial';
    content: '\f00c';
    position: absolute;
    top: 0.1vw;
    left: 0.1vw;
    font-size: 1.9vw;
    padding: 0 0.05vw;
    color: #FFFFFF;
    background-color: #a0782f;
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    -ms-transition: all .3s;
    transition: all .3s;
}

@-moz-document url-prefix() /* Firefox-specific, because Mozilla sucks */
{
    .cgu-checkbox:not(:checked) + label:after,
    .cgu-checkbox:checked + label:after
    {
        font-family: FontAwesome, 'Arial';
        content: '\f00c';
        position: absolute;
        top: 0;
        left: 0;
        font-size: 2vw;
        padding: 0 0.05vw;
        color: #FFFFFF;
        background-color: #a0782f;
        -webkit-transition: all .3s;
        -moz-transition: all .3s;
        -ms-transition: all .3s;
        transition: all .3s;
    }
}

.cgu-checkbox:not(:checked) + label:after
{
    opacity: 0;
}

.cgu-checkbox:checked + label:after
{
    opacity: 1;
}

.cart-price-bill-container
{
    width: 98%;
    margin: 0 1%;
    display: inline-block;
    border-bottom: 1px solid gray;
    padding: 1vw 0;
}

.cart-price-bill-container-separator
{
    height: 0.8vw;
}

.cart-price-bill-title-container
{
    float: right;
    margin-right: 3vw;
    text-align: right;
}

.cart-price-bill-title-text
{
    margin-right: 3vw;
    font-size: 1.2vw;
    padding: 0.1vw 0;
    float: right;
}

.cart-price-bill-prices-container
{
    float: right;
    margin-right: 1.5vw;
    text-align: right;
}

.cart-price-bill-prices-text
{
    font-size: 1.4vw;
}

.cart-price-total-container
{
    display: inline-block;
    margin: 0 1%;
    width: 98%;
    border-bottom: 1px solid gray;
    padding: 1vw 0;
}

.cart-price-total-price
{
    float: right;
    font-size: 1.4vw;
    color: #a0782f;
    margin-right: 3vw;
}

.cart-price-total-title
{
    float: right;
    margin-right: 4.5vw;
    font-size: 1.2vw;
    padding: 0.1vw 0;
    text-align: right;
}

.cart-buy-container
{
    width: 100%;
    display: inline-block;
}

.cart-continue-shopping-container
{
    float: left;
    width: 23%;
    margin-left: 4%;
    margin-top: 7vw;
}

.cart-continue-shopping-button
{
    text-transform: uppercase;
    background-color: darkgray;
    color: #FFFFFF;
    font-size: 1.2vw;
    width: 100%;
    height: 3vw;
    border: none;
    outline: none;
    cursor: pointer;
}

.cart-continue-shopping-button:hover
{
    background-color: #b5b5b5;
}

.cart-buy-form
{
    width: 38%;
    float: right;
    margin: 3vw 5%;
}

.cart-buy-form-cgu
{
    margin-top: 0.5vw;
}

.cart-buy-form-cgu-text
{
    text-transform: uppercase;
    font-size: 0.9vw;
    padding-top: 0.5vw;
}

.cart-buy-form-button
{
    text-transform: uppercase;
    font-size: 1.5vw;
    color: white;
    width: 74%;
    height: 3vw;
    border: none;
    outline: none;
    background-color: #a0782f;
    cursor: pointer;
    margin: 0.2vw 12% 0;
}

.cart-buy-form-button:hover
{
    background-color: #ac8132;
}

.cart-buy-form-secure
{
    font-size: 0.8vw;
    width: 100%;
    text-align: center;
    margin-top: 0.5vw;
}

.cart-buy-form-secure-icon
{
    padding-right: 1%;
}

.cart-bottom-container
{
    width: 100%;
    height: 12vw;
    display: inline-block;
    text-transform: uppercase;
    text-align: center;
    font-size: 1.2vw;
}

.cart-bottom-link
{
    float: left;
    width: 24.95%;
    height: 100%;
    border-right: 0.052vw solid gray;
}

.cart-bottom-link-clickable
{
    cursor: pointer;
}

.cart-bottom-link-clickable:hover
{
    background-color: #eeeeee;
}

.cart-bottom-icon
{
    font-size: 2.5vw;
    color: #a0782f;
    margin-top: 2vw;
    margin-bottom: 0.5vw;
}

.cart-bottom-subtext
{
    font-size: 1vw;
}

.cart-bottom-subsubtext
{
    font-size: 0.8vw;
}

.medelice-miss-404-container
{
    width: 30%;
    height: 100%;
    float: left;
    position: relative;
}

.medelice-miss-404
{
    position: absolute;
    height: 35.16vw;
    top: 3.516vw;
}

.medelice-404-text-container
{
    width: 65%;
    height: 100%;
    float: right;
    display: flex;
    flex-direction: column;
}

.medelice-404-text-a
{
    font-size: 4vw;
    font-style: italic;
    margin-top: 20%;
}

.medelice-404-text-b
{
    font-size: 3vw;
    font-style: italic;
}

.payment-form
{
    overflow: hidden;
    width: 334%;
    height: 37vw;
    display: inline-block;
}

.payment-container
{
    width: 29.95%;
    height: 100%;
    float: left;
    overflow: hidden;
    transition: 0.5s all ease-out, 0.5s width ease-out;
}

.payment-section-title
{
    font-size: 2vw;
    font-weight: bold;
    padding: 1.5vw 1vw 1vw 3vw;
}

.payment-section-title-icon
{
    margin-right: 0.7vw;
}

.payment-section-subtitle
{
    font-size: 1.35vw;
    margin-bottom: 1.2vw;
}

.payment-addresses-container
{
    width: 88%;
    padding: 1vw 6%;
}

.payment-billing-address-container
{
    width: 100%;
    height: 12vw;
}

.payment-delivery-address-container
{
    width: 100%;
    height: 12vw;
    margin-top: 1.5vw
}

.payment-address-container
{
    width: 95%;
    margin: 0.5vw 2.5%;
    padding: 0.5vw 0;
    font-size: 1.2vw;
}

.payment-address-top
{
    display: inline-block;
    width: 100%;
}

.payment-address-switch-button
{
    height: 2.2vw;
    background-color: #eeeeee;
    padding: 0 1.2vw;
    border: none;
    font-size: 0.9vw;
}

.payment-add-address-button
{
    position: absolute;
    left: 1.7vw;
    bottom: 1.5vw;
    height: 2.2vw;
    padding: 0 0.8vw;
    border: none;
    background-color: #eeeeee;
    font-size: 0.9vw;
    z-index: 10;
}

.payment-address-bottom
{
    width: 100%;
}

.payment-address-bottom-sub
{
    margin-top: 0.5vw;
}

.payment-address-switch-form-container
{
    align-items: center;
    justify-content: center;
}

.payment-address-switch-form
{
    width: 60%;
    padding: 1vw 1.2vw;
    border-radius: 0.2vw;
    background-color: white;
    position: relative;
}

.payment-address-switch-form-title
{
    width: 100%;
    display: inline-block;
    font-size: 1.4vw;
    margin-bottom: 2vw;
}

.payment-address-switch-form-list
{
    width: 100%;
    height: 35vw;
    overflow-y: scroll;
    position: relative;
}

.payment-next-button
{
    width: 15vw;
    height: 2vw;
    border: none;
    border-radius: 0.2vw;
    font-family: 'Quicksand', sans-serif, 'Arial';
    font-size: 0.8vw;
    font-weight: bold;
    margin-left: 26vw;
    color: white;
    cursor: pointer;
    outline: none;
    transition: background-color 0.3s ease-out;
    margin-top: 0.5vw;
}

.payment-next-button:disabled
{
    background-color: #8c847e;
    cursor: auto;
}

.payment-next-button:enabled{
    background-color: #8c7748;
}

.payment-next-button[disabled]:hover
{
    background-color: #8c847e;
}

.payment-next-button:not(disabled):hover
{
    background-color: #a5905b;
}

.payment-country-selector
{
    float: left;
    outline: none;
    border: none;
    width: 32.25%;
    height: 1.3vw;
    margin-left: 0.23%;
    margin-right: 5.95%;
    padding-left: 2.75%;
    padding-top: 0.6vw;
}

.payment-country-selector:disabled{
.custom-select-container
}

.custom-select-container
{
    border: 0.0536vw solid lightgray;
    border-radius: 0.2vw;
    box-shadow: 0 0.0536vw 0.0536vw #dedede;
}

.custom-select-container select
{
    border: none;
    box-shadow: none;
    background: transparent;
    background-image: none;
    -webkit-appearance: none;
    outline: none;
    position: relative;
}

.custom-select-container select:before
{
    content: "\f0d7";
    font-family: FontAwesome;
    left: 0;
    position: absolute;
    top: 0;
}

.stripe-card-data-field
{
    float: left;
    border: none;
    outline: none;
    height: 2vw;
    padding: 0.8vw;
    font-size: 1vw;
    letter-spacing: 0.05vw;
    font-family: 'Quicksand', sans-serif, 'Arial'
}

.stripe-card-data-field::placeholder
{
    font-size: 0.8vw;
}

.stripe-pay-title
{
    text-align: center;
    width: 100%;
    margin-bottom: 2.5%;
    font-size: 1vw;
}

.stripe-pay-button
{
    width: 100%;
    background-color: #8c7748;
    border-radius: 0.2vw;
    border: none;
    outline: none;
    margin-top: 0.5vw;
    margin-bottom: 0.1vw;
    height: 1.8vw;
    color: white;
    font-weight: bold;
    font-family: 'Quicksand', sans-serif;
    letter-spacing: 0.01vw;
    text-transform: uppercase;
    cursor: hand;
}

.stripe-pay-button:disabled
{
    background-color: #8c847e;
    cursor: auto;
}

.stripe-pay-button[disabled]:hover
{
    background-color: #8c847e;
}

.stripe-pay-button:hover
{
    background-color: #a5905b;
}

.stripe-card-data-fields-container
{
    width: 100%;
    background-color: #FFFFFF;
    border-radius: 0.104vw;
    display: inline-block;
}

.stripe-container
{
    width: 30%;
    background-color: #f7f7f7;
    padding: 0.8%;
    margin-left: 34.2%;
    margin-top: 8vw;
    border-radius: 0.3vw;
}

.stripe-section-container
{
    width: 100%;
    height: 16vw;
}

.disabled
{
    filter: brightness(50%) opacity(0.2);
}

.payment-summary-container
{
    width: 90%;
    padding: 1% 5%;
    display: inline-block;
}

.payment-summary-informations-section
{
    float: left;
    width: 60%;
}

.payment-summary-addresses-container
{
    width: 100%;
    display: inline-block;
    height: 10vw;
    margin-bottom: 3.5vw;
}

.payment-summary-informations-title
{
    font-size: 1vw;
    font-weight: bold;
}

.payment-summary-billing
{
    float: left;
}

.payment-summary-delivery
{
    float: right;
}

.payment-summary-informations-container
{
    width: 42.5%;
    background-color: #ffffff;
    height: 100%;
    padding: 3%;
    border: 0.0532vw solid rgba(200, 200, 200, 0.2);
    box-shadow: 0 0.0532vw 0.0532vw lightgray;
}

.payment-summary-delivery-mode
{
    width: 94%;
    background-color: #ffffff;
    margin-bottom: 1vw;
    border: 0.0532vw solid rgba(200, 200, 200, 0.2);
    box-shadow: 0 0.0532vw 0.0532vw lightgray;
    padding: 3%;
}

.payment-summary-delivery-mode-radio-selector
{
    margin-right: 0.5vw;
    cursor: pointer;
}

.payment-summary-delivery-mode-radio-selector-description
{
    font-size: 0.7vw;
    color: darkgray;
}

.payment-summary-cardinfo
{
    width: 94%;
    background-color: #ffffff;
    padding: 3%;
    border: 0.0532vw solid rgba(200, 200, 200, 0.2);
    box-shadow: 0 0.0532vw 0.0532vw lightgray;
}

.payment-summary-pay-section
{
    float: right;
    width: 34%;
}

.payment-summary-confirm-and-pay-button
{
    height: 3vw;
    width: 100%;
    border: none;
    border-radius: 0.2vw;
    background-color: #a5905b;
    color: white;
    font-size: 1vw;
    cursor: pointer;
    outline: none;
}

.payment-summary-confirm-and-pay-button:hover
{
    background-color: #8c7748;
}

.payment-summary-price-container
{
    width: 90%;
    margin-left: 5%;
    margin-top: 1.5vw;
}

.payment-summary-price-title
{
    font-size: 1.2vw;
    margin-bottom: 0.8vw;
}

.payment-summary-price-details
{
    width: 90%;
    margin-left: 5%;
}

.payment-summary-price-details-entry
{
    margin-bottom: 0.5vw;
}

.payment-summary-price-details-entry-price
{
    float: right;
}

.payment-summary-price-details-separator
{
    border: 0;
    border-top: 0.1vw solid #b3b3b3;
}

.payment-summary-price-details-final-price
{
    margin: 0.5vw 0 0.8vw;
    color: #8c7748;
    font-size: 1.2vw;
}

.payment-summary-price-container-coupon-separator
{
    border: 0;
    border-top: 0.0536vw solid lightgray;
}

.payment-summary-coupon-title
{
    font-size: 1vw;
    margin: 0.8vw 0 0.4vw 5%;
}

.payment-summary-enter-coupon
{
    height: 1.8vw;
    width: 80%;
    margin-left: 5%;
    border: 0.0536vw solid lightgray;
    border-radius: 0.15vw 0 0 0.15vw;
    box-shadow: 0 0.0536vw 0.0536vw lightgray;
    outline: none;
    font-size: 1vw;
    padding: 0 0.5vw;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    vertical-align: middle;
}

.payment-summary-add-coupon-button
{
    height: 1.8vw;
    width: 1.8vw;
    border: none;
    border-radius: 0 0.15vw 0.15vw 0;
    background-color: #a0782f;
    color: #FFFFFF;
    margin-left: -0.3vw;
    box-shadow: 0 0.0536vw 0.0536vw lightgray;
    outline: none;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    cursor: pointer;
    vertical-align: middle;
}

.payment-summary-price-container-show-articles-separator
{
    border: 0;
    border-top: 0.0536vw solid lightgray;
    margin: 1vw 0 0.8vw 0;
}

.payment-summary-show-articles-button
{
    width: 60%;
    background-color: #c3c3c3;
    border-radius: 0.2vw;
    height: 2vw;
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 1vw;
    color: #FFFFFF;
    margin-left: 20%;
}

.payment-summary-show-articles-button:hover
{
    background-color: #cdcdcd;
}

.payment-summary-myarticles-section
{
    position: fixed;
    display: none;
    height: 100%;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    background-color: rgba(10, 10, 10, 0.5);
    z-index:42789;
}

.payment-summary-myarticles
{
    background-color: #FFFFFF;
    height: 66%;
    width: 54%;
    margin: 8.5% 23%;
    border-radius: 1.2vw;
    position: relative;
}

.payment-sumart-close
{
    position: absolute;
    right: 1.8%;
    top: 1.5%;
    cursor: pointer;
}

.payment-sumart-topgradient
{
    position: absolute;
    width: 92.5%;
    top: 8%;
    height: 1vw;
    background: -moz-linear-gradient(top, #ffffff 0%, rgba(255, 255, 255, 0.3) 47%, rgba(255, 255, 255, 0) 100%);
    background: -webkit-linear-gradient(top, #ffffff 0%, rgba(255, 255, 255, 0.3) 47%, rgba(255, 255, 255, 0) 100%);
    background: linear-gradient(to bottom, #ffffff 0%, rgba(255, 255, 255, 0.3) 47%, rgba(255, 255, 255, 0) 100%);
    margin: 0 1.5%;
}

.payment-sumart-bottomgradient
{
    position: absolute;
    width: 92.5%;
    bottom: 2.5%;
    height: 1vw;
    background: -moz-linear-gradient(bottom, #ffffff 0%, rgba(255, 255, 255, 0.3) 47%, rgba(255, 255, 255, 0) 100%);
    background: -webkit-linear-gradient(bottom, #ffffff 0%, rgba(255, 255, 255, 0.3) 47%, rgba(255, 255, 255, 0) 100%);
    background: linear-gradient(to top, #ffffff 0%, rgba(255, 255, 255, 0.3) 47%, rgba(255, 255, 255, 0) 100%);
    margin: 0 1.5%;
}

.payment-summary-myarticles-display-container
{
    padding: 0.5vw 1vw 1vw 1vw;
    overflow: auto;
    height: 83%;
    width: 92.5%;
    margin: 5% 1.5%;
}

.paysum-art-picture
{
    height: 100%;
    width: 26.2%;
    float: left;
    border: 0.052vw solid rgba(169, 169, 169, 0.6);
    margin-top: -0.052vw;
    display: flex;
    align-items: center;
    box-shadow: 0 0 0.1vw darkgray;
}

.payment-summary-myarticles-element
{
    height: 12vw;
    margin-bottom: 1vw;
}

.paysum-art-info
{
    float: right;
    font-size: 1.1vw;
    display: inline-block;
    width: 68%;
    position: relative;
    height: 100%;
}

.paysum-art-info-name
{
    font-size: 1.5vw;
}

.paysum-art-price
{
    position: absolute;
    bottom: 4%;
    right: 5%;
    font-size: 1.5vw;
}

.acc-settings-cat-name
{
    font-size: 2vw;
    margin-bottom: 0.5vw;
}

.account-settings-container
{
    width: 80%;
    height: 19vw;
    margin: 10vw 10% 6vw;
    display: inline-block;
}

.acc-settings-right
{
    position: relative;
    float: right;
    width: 50%;
    height: 100%;
}

.acc-settings-left
{
    position: relative;
    float: left;
    width: 45%;
    height: 100%;
    padding-right: 1.5%;
    border-right: 0.052vw solid gray;
}

.acc-settings-field-container
{
    width: 90%;
    margin-left: 4%;
    display: inline-block;
    line-height: 2vw;
    margin-top: 1vw;
}

.acc-settings-field-name
{
    float: left;
    font-size: 1.2vw;
}

.acc-settings-field
{
    float: right;
    width: 60%;
    height: 1.6vw;
    margin-top: 0.2vw;
    border: none;
    border-radius: 0.2vw;
    padding: 0 2%;
    outline: none;
    font-size: 1vw;
    font-family: "Quicksand", sans-serif;
    box-shadow: 0 0 0.104vw grey;
}

.acc-settings-update-button
{
    position: absolute;
    bottom: 0.5vw;
    left: 27.5%;
    width: 45%;
    border: none;
    height: 2vw;
    background-color: #1a1919;
    color: white;
    font-family: "quicksand", sans-serif;
    font-size: 0.8vw;
    cursor: pointer;
    outline: none;
}

.acc-settings-update-button:hover
{
    background-color: #3c3b3b;
}

.acc-settings-back-button
{
    width: 15vw;
    height: 2vw;
    background-color: #b7b7b7;
    border: none;
    border-radius: 0.2vw;
    font-size: 0.8vw;
    color: white;
    cursor: pointer;
    outline: none;
    text-transform: uppercase;
    margin: 0 27.6vw;
}

.acc-settings-back-button:hover
{
    background-color: #a3a3a3;
}

.my-orders-table
{
    width: 90%;
    margin: 2vw 0 2vw 7%;
    border-collapse: collapse;
    border-spacing: 0;
}

.my-orders-tablerow
{
    height: 2vw;
    cursor: default;
}

.my-orders-tablerow:hover
{
    background-color: #ededed;
}

.my-orders-tablerow-nohover:hover
{
    background-color: white;
    cursor: default;
}

.my-orders-tablerow td
{
    border: none;
    padding: 0 1%;
}

.order-container
{
    width: 90%;
    margin: 3vw 5%;
}

.order-status-progress-bar
{
    width: 84%;
    height: 5vw;
    margin: 3vw 8% 0;
    position: relative;
}

.order-progress-bar
{
    height: 0.5vw;
    position: relative;
    background-color: #e6e6e6;
}

.order-progress-bar > span
{
    display: block;
    height: 100%;
    border-radius: 1vw;
    background-color: deepskyblue;
    position: relative;
    overflow: hidden;
    transition: width 1s cubic-bezier(0.01, 0.57, 0.16, 0.96);
}

.order-progress-bar-step
{
    position: absolute;
    height: 3vw;
    width: 3vw;
    border-radius: 1.5vw;
    background-color: deepskyblue;
    top: -1.25vw;
}

.order-progress-bar-step-enabled
{
    background-color: deepskyblue;
}

.order-progress-bar-step-disabled
{
    background-color: #e6e6e6;
}

.order-progress-bar-step-icon
{
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #FFFFFF;
    font-size: 1vw;
}

.order-progress-bar-step-desc
{
    position: absolute;
    top: 3vw;
    width: 8vw;
    height: 3vw;
    color: black;
    text-align: center;
    font-size: 0.8vw;
    left: -2.5vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

.order-progress-bar-step-1
{
    left: -1.5vw;
}

.order-progress-bar-step-2
{
    left: 17.3vw;
}

.order-progress-bar-step-3
{
    right: 17.3vw;
}

.order-progress-bar-step-4
{
    right: -1.5vw;
}

.order-status-description
{
    width: 88%;
    margin: 1vw 3%;
    background-color: #eeeeee;
    padding: 3%;
    line-height: 1.2vw;
    font-size: 1vw;
}

.order-status-container
{
    width: 100%;
}

.order-addresses-container
{
    width: 80%;
    display: flex;
    margin: 3vw 10% 0;
    font-size: 1.1vw;
}


.order-delivery-address-container
{
    float: left;
}

.order-billing-address-container
{
    margin-left: 8%;
    float: right;
}

.order-address-container
{
    width: 40%;
    background-color: #FFFFFF;
    padding: 3%;
    border: 0.0532vw solid rgba(200, 200, 200, 0.2);
    box-shadow: 0 0.0532vw 0.0532vw lightgray;
}

.order-address-title
{
    margin-bottom: 0.3vw;
}

.order-products-container
{
    padding: 3%;
    margin-top: 1vw;
}

.order-products-title
{
    font-size: 1.6vw;
    margin-bottom: 1.2vw;
}

.order-products-subcontainer
{
    padding: 0% 2%;
}

.order-products-header
{
    background-color: #e6e6e6;
    padding: 1% 2%;
    font-size: 1vw;
}

.order-products-container
{
    padding: 1%;
    display: inline-block;
    width: 98%;
}

.order-product-display
{
    width: 42%;
    padding: 2%;
    border: 0.052vw solid #eeeeee;
    height: 5vw;
    display: inline-block;
    margin: 0.7vw 0.5vw;
}

.order-product-picture
{
    float: left;
    width: 20%;
    border: 0.052vw solid #eeeeee;
    height: 4vw;
    margin-left: 0.8vw;
    padding: 0.5vw 0;
    cursor: pointer;
}

.order-product-infos
{
    float: right;
    width: 60%;
    position: relative;
    height: 100%;
}

.order-product-title
{
    font-size: 1.2vw;
    font-weight: bold;
}

.order-product-brand
{
    font-size: 0.7vw;
    margin-left: 0.1vw;
}

.order-product-qty
{
    font-size: 0.9vw;
    margin-left: 0.1vw;
}

.order-product-totalprice
{
    position: absolute;
    right: 1vw;
    bottom: 0;
    font-size: 1vw;
}

.link
{
    color: #a0782f;
    text-decoration: underline;
}

.register-container
{
    width: 60%;
    float: right;
}

.register-title
{
    font-size: 2vw;
    margin: 1.5vw 0 1vw 7vw;
}

.register-form
{
    width: 30vw;
    display: inline-block;
    float: right;
    margin-right: 6vw;
}

.register-field-container-half
{
    float: left;
    width: 50%;
    margin: 0.8vw 0 0.2vw;
}

.register-field-container-full
{
    float: left;
    width: 100%;
    margin: 0.8vw 0 0.2vw;
}

.register-field-descriptor
{
    font-size: 1vw;
    margin-left: 1vw;
    font-family: 'Quicksand', sans-serif;
    font-weight: bold;
}

.register-field-half
{
    height: 2vw;
    outline: none;
    padding: 0 0.7vw;
    border: 0.052vw solid #d2d2d2;
    border-radius: 0.2vw;
    font-size: 0.9vw;
    width: 12vw;
    margin: 0.4vw 1.5vw 0;
    font-family: 'Quicksand', sans-serif;
}

.register-field-full
{
    height: 2vw;
    outline: none;
    padding: 0 0.7vw;
    border: 0.052vw solid #d2d2d2;
    border-radius: 0.2vw;
    font-size: 0.9vw;
    width: 27vw;
    margin: 0.4vw 1.5vw 0;
    font-family: 'Quicksand', sans-serif;
}

.register-button
{
    width: 90%;
    height: 2.5vw;
    background-color: #a0782f;
    color: white;
    border: none;
    border-radius: 0.3vw;
    font-size: 1vw;
    cursor: pointer;
    outline: none;
    text-transform: uppercase;
}

.register-password-container
{
    position: relative;
}

.register-password-tooltip
{
    visibility: hidden;
    width: 14.5vw;
    background-color: white;
    padding: 0.5vw 0.8vw;
    border: 0.052vw #eeeeee solid;

    position: absolute;
    z-index: 10;
    top: 15%;
    left: -15.5vw;

    opacity: 0;
    transition: opacity 0.3s;
}

.register-password-tooltip::after
{
    content: "";
    position: absolute;
    top: 30%;
    transform: translateY(-50%);
    left: 16.604vw;
    margin-left: -0.5vw;
    border-width: 0.5vw;
    border-style: solid;
    border-color: transparent transparent transparent #eeeeee;
}

.password-tooltip-entry
{
    width: 100%;
    display: inline-block;
    margin: 0.1vw 0;
}

.password-tooltip-entry-text
{
    width: 92%;
}

.red
{
    color: red;
}

.green
{
    color: green;
}

/*.register-password1:focus .register-password-tooltip
{
    visibility: visible;
    opacity: 1;
}*/

#register-dob::-webkit-inner-spin-button
{
    display: none;
}

#register-dob::-webkit-datetime-edit-text /* note : ce sélecteur existe bel et bien, seul PhpStorm ne le connait pas TODO commentaire à virer */
{
    padding: 0 0.3vw;
}

#register-dob::-webkit-datetime-edit-month-field, /* TODO idem */
#register-dob::-webkit-datetime-edit-day-field,
#register-dob::-webkit-datetime-edit-year-field
{
    letter-spacing: 0.1vw;
}

#register-dob::-webkit-datetime-edit
{
    padding: 0 0.5vw;
}

#login-form
{
    display: none;
    position: fixed;
    background-color: #FFFFFF;
    border: 0.052vw solid #d8d8d8;
    border-top: none;
    border-radius: 0 0 0.2vw 0.2vw;
    width: 13vw;
    top: 2vw;
    right: 1vw;
    padding: 1vw;
    color: black;
    transition: 0.2s all ease-out;
    opacity: 0;
    font-family: 'Quicksand', sans-serif;
    z-index: 42666;
}

.login-form-field-container
{
    width: 100%;
    margin-bottom: 0.8vw;
}

.login-form-field-title
{
    font-size: 1vw;
    font-weight: bold;
}

.login-form-field
{
    border: 0.052vw #ebebeb solid;
    border-radius: 0.2vw;
    height: 1.6vw;
    margin: 0.4vw 0 0 3%;
    width: 95%;
    padding: 0 0.8vw;
    outline: none;
}

#login-remember-me
{
    margin-left: 5%;
    cursor: pointer;
}

#login-remember-me-label
{
    margin-left: 5%;
    font-size: 0.9vw;
    cursor: pointer;
}

.login-button
{
    width: 75%;
    background-color: #a0782f;
    color: white;
    height: 2vw;
    border: none;
    border-radius: 0.3vw;
    margin-bottom: 0.7vw;
    margin-left: 12.5%;
    font-size: 0.9vw;
    outline: none;
    cursor: pointer;
}

.login-form-separator
{
    height: 0;
    border: 0;
    border-top: 0.052vw solid transparent;
    border-bottom: 0.052vw solid #e6e6e6;
}

.login-bottom-register
{
    width: 100%;
    margin: 0.5vw 0;
    text-align: justify;
    justify-content: center;
    text-align-last: justify;
}

.button-link
{
    display: flex;
    align-items: center;
    cursor: pointer;
    justify-content: center;
}

.button-link-text
{
    width: 100%;
    text-align: center;
}

.regionselect-title
{
    margin: 2vw 0 1.8vw;
    font-size: 2vw;
    width: 100%;
    text-align: center;
}

.regionselect-content
{
    width: 99%;
    margin: 0.4vw 0.5%;
    display: inline-block;
}

.regionselect-box
{
    width: 25%;
    height: 12vw;
    float: left;
    text-transform: uppercase;
    cursor: pointer;
    transition: 0.5s all ease-out;
}

.regionselect-subbox
{
    height: 100%;
    width: 100%;
    max-height: 100%;
    overflow: hidden;
    display: flex;
    align-items: center;
    position: relative;
    transition: 0.5s all ease-out;
}

.regionselect-regname
{
    width: 100%;
    text-align: center;
    color: #FFFFFF;
    font-size: 1.2vw;
    padding: 0 1vw;
}

.myaddresses-back-button
{
    float: left;
    margin: 0.4vw 0 0 10%;
    width: 20%;
    height: 2.8vw;
    color: #ffffff;
    background-color: #d3d3d3;
    font-size: 0.85vw;
    border: none;
    border-radius: 0.2vw;
    outline: none;
    cursor: pointer;
    text-transform: uppercase;
}

.myaddresses-title
{
    font-size: 2.4vw;
    float: right;
    letter-spacing: 0.1vw;
    margin-right: 10%;
}

.myaddresses-separator
{
    height: 0.05vw;
    background-color: #717171;
    width: 90%;
    margin-left: 5%;
    margin-bottom: 1.2vw;
}

.myaddresses-container
{
    width: 100%;
}

.myaddresses-address-header
{
    display: inline-block;
    width: 85%;
    height: 5vw;
    margin-left: 7.5%;
    border: 0.052vw #eeeeee solid;
    background-color: #ffffff;
    box-shadow: 0 0.052vw 0.052vw #eeeeee;
    cursor: pointer;
}

.myaddresses-address-header-text
{
    float: left;
    height: 100%;
    font-size: 1.1vw;
    display: flex;
    align-items: center;
    margin-left: 4%;
}

.myaddresses-address-header-arrow
{
    float: right;
    height: 100%;
    display: flex;
    align-items: center;
    margin-right: 4%;
}

.myaddresses-address-details-container
{
    height: auto;
    max-height: 0;
    background-color: #f6f6f6;
    width: 84%;
    margin-left: 8%;
    margin-bottom: 2.5vw;
    overflow: hidden;
    transition: all 1s ease-out;
}

.myaddresses-address-details
{
    margin: 0.8vw 5%;
    width: 90%;
    font-size: 1vw;
}

.myaddresses-address-details-section
{
    display: inline-block;
    width: 100%;
}

.myaddresses-address-details-bigtext
{
    font-size: 1.4vw;
}

.myaddresses-address-details-smalltext
{
    font-size: 1.2vw;
}

.myaddresses-address-details-country
{
    width: 100%;
    text-align: right;
    font-size: 1.2vw;
    margin-bottom: 2vw;
    margin-top: 0.5vw;
}

.myaddresses-address-details-modrem-container
{
    display: inline-block;
    width: 100%;
}

.myaddresses-address-details-modrem-button
{
    float: right;
    height: 2vw;
    padding: 0 1vw 0 0.8vw;
    border: 0.052vw solid #eeeeee;
    border-radius: 0.1vw;
    background-color: #e9e9e9;
    font-size: 0.9vw;
    cursor: pointer;
    outline: none;
    margin-left: 1vw;
    display: flex;
    align-items: center;
}

.myaddresses-address-details-modrem-icon
{
    margin-right: 0.5vw;
}

.myaddresses-noaddresses
{
    width: 100%;
    font-size: 1.6vw;
    height: 27vw;
    display: flex;
    align-items: center;
}

.myaddresses-noaddresses-text
{
    width: 100%;
    text-align: center;
}

.addresses-modform-container
{
    display: none;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.4);
    z-index: 42789;
}

.addresses-modform
{
    background-color: white;
    width: 40vw;
    margin: 10vw 30vw;
    padding: 2.2vw 3vw 1vw;
    border-radius: 1.1vw;
}

.addresses-modform-title
{
    font-size: 1.6vw;
    width: 100%;
    text-align: center;
    margin-bottom: 1.2vw;
}

.addresses-modform-fields
{
    width: 100%;
}

.addresses-modform-buttons
{
    width: 95%;
    height: 2vw;
    margin: 1vw 2.5%;
}

.addresses-modform-button
{
    height: 2.2vw;
    width: 10vw;
    border-radius: 0.1vw;
    font-size: 0.9vw;
    cursor: pointer;
    outline: none;
    margin: 0 1vw;
    color: #ffffff;
}

.amfb-colored
{
    border: 0.052vw solid #a0782f;
    background-color: #a0782f;
}

.amfb-gray
{
    border: 0.052vw solid #eeeeee;
    background-color: #eeeeee;
    color: black;
}

.addresses-modform-field
{
    height: 2.5vw;
    border: 0.0536vw solid lightgray;
    border-radius: 0.2vw;
    box-shadow: 0 0.0536vw 0.0536vw #dedede;
    padding: 0 1vw;
    margin-bottom: 1vw;
    outline: none;
    font-size: 0.9vw;
    font-family: 'Quicksand', sans-serif, 'Arial';
    letter-spacing: 0.02vw;
}

.large-field
{
    width: 100%;
}

.half-field
{
    width: 48%;
}

.city-field
{
    width: 38%;
}

.country-field
{
    width: 39%;
}

.zip-field
{
    width:  19%;
    margin: 0 2%;
}

.phone-field
{
    width: 38%;
}

.state-field
{
    width: 60%;
}

.small-field
{
    width: 30%;
}

.addresses-modform-multifield-container
{
    width: 100%;
    display: inline-block;
}

#new-address-btn
{
    height: 2vw;
    padding: 0 1vw 0 0.8vw;
    border: 0.052vw solid #eeeeee;
    border-radius: 0.1vw;
    background-color: #e9e9e9;
    font-size: 0.9vw;
    cursor: pointer;
    outline: none;
    margin: 0 7.5% 1.5vw;
    float: right;
    display: flex;
    align-items: center;
}

.myaddresses-header-section
{
    width: 100%;
    display: inline-block;
    margin: 1.5vw 0;
}

.vegan
{
    width: 2vw;
}

.vegan:after
{
    content: url('/images/produits/vegan.svg');
}

.bio
{
    width: 2vw;
}

.bio:after
{
    content: url('/images/produits/bio.svg');
}

.alcool
{
    width: 2vw;
}

.alcool:after
{
    content: url('/images/produits/alcool.svg');
}



/*

.payment-summary-informations-container
{
    width: 42.5%;
    background-color: #ffffff;
    height: 100%;
    padding: 3%;
    border: 0.0532vw solid rgba(200, 200, 200, 0.2);
    box-shadow: 0 0.0532vw 0.0532vw lightgray;
}

.payment-summary-delivery-mode
{
    width: 94%;
    background-color: #ffffff;
    margin-bottom: 1vw;
    border: 0.0532vw solid rgba(200, 200, 200, 0.2);
    box-shadow: 0 0.0532vw 0.0532vw lightgray;
    padding: 3%;
}



 */

/* TODO later
.select-hidden
{
    display: none;
    visibility: hidden;
}

.custom-select
{
    cursor: pointer;
    display: inline-block;
    position: relative;
    font-size: 0.7vw;
    color: #000000;
    width: 33.34%;
    height: 2vw;
}

.custom-select-styled
{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: #eeeeee;
    padding: 0; /* TODO
    transition: all 0.1s ease-out;
}

.custom-select-styled:after
{
    content: "";
    width: 0;
    height: 0;
    border: 7px solid transparent;
    border-color: #eeeeee transparent transparent transparent;
    position: absolute;
    top: 16px;
    right: 10px;
}

.custom-select-styled:hover
{
    filter: brightness(95%);
}

.custom-select-styled:active, .active
{
    filter: brightness(85%);
}

.custom-select-styled:active:after, .active:after
{
    top: 9px;
    border-color: transparent transparent #eeeeee transparent;
}

.custom-select-options
{
    display: none;
    position: absolute;
    top: 100%;
    right: 0;
    left: 0;
    z-index: 999;
    margin: 0;
    padding: 0;
    list-style: none;
    background-color: #eeeeee;
}

.custom-select-options li
{
    margin: 0;
    padding: 12px 0;
    text-indent: 15px;
    border-top: 1px solid #cecece;
    transition: all 0.15s ease-out;
}

.custom-select-options li:hover
{
    color: #eeeeee;
    background-color: #aeaeae;
}

.custom-select-options li[rel="hide"]
{
    display: none;
}*/

.StripeElement
{
    width: 93.817%;
    background-color: white;
    padding: 1.903% 2.855%;
    border-radius: 0.213vw;
    border: 0.0532vw solid transparent; /* 0.0532vw ~= 0.236% */
    box-shadow: 0 0.0532vw 0.16vw 0 #e6ebf1;
    -webkit-transition: box-shadow 150ms ease;
    transition: box-shadow 150ms ease;
}

.StripeElement--focus
{
    box-shadow: 0 0.0532vw 0.16vw 0 #cfd7df;
}

.StripeElement--invalid
{
    border-color: #fa755a;
}

.StripeElement--webkit-autofill
{
    background-color: #fefde5 !important;
}


.fields-line
{
    display: inline-block;
    width: 100%;
    margin-top: 1vw;
}

.field-line-separator
{
    width: 100%;
    height: 0.1vw;
    background-color: #dddddd;
    margin-top: 1vw;
}

.no-top-margin
{
    margin-top: 0;
}

.field-container
{
    float: left;
    margin-right: 1.5vw;
}

.last-container
{
    margin-right: 0;
    float: right;
}

.field-descriptor
{
    font-size: 1vw;
    font-family: Roboto;
    font-weight: bold;
}

.field-input
{
    width: 15vw;
    margin-left: 0.5vw;
    font-size: 0.9vw;
    padding: 0 0.8vw;
    height: 2vw;
    border-radius: 0.2vw;
    border: 0.052vw solid #ced4da;
    outline: none;
}

.field-checkbox
{
    margin: 0 0.5vw;
}

.field-button
{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 2vw;
    width: 2vw;
    border: #e0e0e0 solid 0.052vw;
    background-color: #eeeeee;
    border-radius: 0.2vw;
    margin-left: 0.4vw;
    float: left;
}

.field-colorpicker
{
    height: 2vw;
    width: 10vw;
    margin-left: 0.5vw;
    border: none;
    background-color: transparent;
    outline: none;
}

.field-text
{
    font-size: 0.95vw;
    margin-left: 0.5vw;
    width: 15vw;
}

.field-date::-webkit-clear-button
{
    display: none;
}

.field-date::-webkit-inner-spin-button
{
    display: none;
}

.full-field
{
    width: 100%;
    margin-left: 0;
}

.button
{
    outline: none;
    cursor: pointer;
}

.button:focus
{
    outline: none;
}

.contact-form-send
{
    width: 25%;
    background-color: #a0782f;
    color: white;
    font-size: 1vw;
    height: 2.5vw;
    border: none;
    margin: 1vw 37.5%;
}

.contact-form-send:hover
{
    background-color: #8c7748;
}

.forgotten-pswd-title
{
    font-size: 1.8vw;
    margin: 2vw 2.5vw;
}

.forgotten-pswd-form
{
    width: 30%;
    padding: 1vw 1.2vw;
    margin: 8vw 35% 0;
}

.forgotten-pswd-text
{
    font-size: 1.2vw;
    text-align: justify;
}

.forgotten-pswd-form input
{
    width: 95%;
    margin: 0 2.5% 1vw;
}

.forgotten-pswd-form button
{
    width: 100%;
    height: 2.5vw;
    color: white;
    border: none;
    font-size: 1.1vw;
    background-color: #a0782f;
}

.reset-password-form
{
    width: 35%;
    margin: 13vw 32.5%;
}

.reset-password-form-title
{
    font-size: 1.4vw;
    text-align: justify;
    text-align-last: justify;
}

.reset-password-form-fields-container
{
    width: 95%;
    margin: 1vw 2.5% 1vw;
    position: relative;
}

.reset-password-form-button
{
    border: none;
    background-color: #a0782f;
    width: 96%;
    margin: 0 2%;
    height: 2.5vw;
    font-size: 0.95vw;
    color: white;
}

button:disabled
{
    background-color: #c2c2c2;
}

.register-confirm-container
{
    display: flex;
    align-items: center;
    justify-content: center;
}

.register-confirm-box
{
    width: 35%;
    border: 1px solid #d9d9d9;
    padding: 1.2vw 1vw;
    text-align: justify;
    font-size: 1vw;
}

.thankyou-container
{
    display: flex;
    align-items: center;
    justify-content: center;
}

.thankyou-box
{
    border: 1px solid #9b9b9b;
    width: 40em;
    padding: 1em 1.2em;
}

.myaccount-box
{
    width: 40%;
    margin-left: 5%;
    padding: 5vw 0;
    border: 1px solid lightgray;
    border-radius: 0.8vw;
    font-size: 1vw;
    text-align: center;
}

.myaccount-box-disabled
{
    filter: brightness(50%) opacity(0.2);
    pointer-events: none;
}

.myaccount-topmsg
{
    float: left;
    width: 92%;
    background-color: #fafafa;
    box-shadow: 0.0268vw 0.0536vw 0.0536vw #dedede;
    padding: 2vw 4%;
    border-radius: 0.2vw;
}

.myaccount-whatwillyoudo
{
    float: left;
    margin: 1.5vw 5% 2vw;
    width: 90%;
}

.myaccount-container
{
    width: 90%;
    margin: 2vw 5%;
    display: inline-block;
}

.myaccount-box-icon
{
    vertical-align: middle;
    margin-right: 3%;
}

.middle-align
{
    vertical-align: middle;
}