*
{
    margin: 0;
    padding: 0;
}

body
{
    background-color: #eeeeee;
    color: white;
    width: 100%;
    font-family: 'bromello', sans-serif, 'Arial';
}

html
{
    min-height: 100%;
    position: relative;
}

.data-container
{
    height: 40%;
    display: inline-block;
    width: 55%;
    margin-left: 20%;
}

#logo
{
    width: 20vw;
    float: left;
}

.msg-container
{
    float: right;

}

.bandeau
{
    position: absolute;
    top: 30%;
    background-color: rgba(32, 31, 31, 0.95);
    height: 40%;
    width: 100%;
}

.input-field
{
    background-color: white;
    color: #212121;
    border: none;
    border-radius: 3px;
    text-align: left;
    height: 30px;
    padding-left: 10px;
    padding-right: 10px;
}

.submit-button
{

}