<div style="width: 100%; font: 14px Arial, sans-serif;">
    {customer_firstname}, vous pouvez maintenant commander sur Médélice !<br>
    <br>
    Rendez-vous dès à présent sur <a href="https://{server_name}/index.php?page=chooseregion">notre page produits</a> pour réaliser votre première commande !<br>
    <br>
    <br>
    <br>
    Cet email vous a été envoyé pour confirmer la validation de votre compte. Si vous n'êtes pas à l'origine de cette action, contactez immédiatement notre service technique à l'adresse suivante :<br>
    <a href="https://{server_name}/index.php?page=contact">https://{server_name}/index.php?page=contact</a><br>
    <br>
    <br>
    Identifiant client : {customer_id}<br>
    <br>
    <br>
</div>
<div style="color: #9b9b9b; padding-top: 15px; border-top: 1px solid #eaeaea; font: 14px Arial, sans-serif;">
    Ce message vous a été envoyé d'une adresse qui ne peut recevoir d'emails. Merci de ne pas y répondre.
</div>