<div style="width: 100%; font: 14px Arial, sans-serif;">
    {customer_firstname}, cliquez sur le lien ci-dessous pour réinitialiser votre mot de passe.<br>
    <br>
    <a href="https://{server_name}/index.php?page=nouveau-mdp&vkey={vkey}&uid={customer_id}">https://{server_name}/index.php?page=nouveau-mdp&vkey={vkey}&uid={customer_id}"</a><br>
    <br>
    <br>
    <br>
    Cet email vous a été envoyé suite à votre demande de réinitialisation de mot de passe. Si vous n'êtes pas à l'origine de cette action, ignorez tout simplement ce mail, ou contactez notre service technique si vous en ressentez le besoin à l'adresse suivante :<br>
    <a href="https://{server_name}/index.php?page=contact">http://<?php echo $srv_name; ?>/index.php?page=contact</a><br>
    <br>
    <br>
    Identifiant client : {customer_id}<br>
    <br>
    <br>
</div>
<div style="color: #9b9b9b; padding-top: 15px; border-top: 1px solid #eaeaea; font: 14px Arial, sans-serif;">
    Ce message vous a été envoyé d'une adresse qui ne peut recevoir d'emails. Merci de ne pas y répondre.
</div>