<div style="border-bottom: 1px solid #eaeaea; width: 90%; margin: 0 5%; padding: 12px 10px; display: inline-block;">
    <div style="display: flex; align-items: center; width: 20%; float: left;">
        <img style="display: block; width: auto; height: auto; max-width: 100%; max-height: 100%; margin: auto;" src="{product_img}">
    </div>
    <a href="https://{server_name}/index.php?page=voir&ref=BRETA17" style="float: left; text-decoration: none; margin-left: 1%;">{product_name}</a>
    <span style="font-weight: bold; float: right">{product_price_by_quantity}€</span>
</div>