<div style="width: 100%; font: 14px Arial, sans-serif;">
    {customer_firstname}, encore une dernière étape et vous pourrez commander sur Médélice !<br>
    <br>
    Pour attester que cette adresse email correspond à votre compte Médélice, cliquez sur le lien suivant (ou copiez-le dans votre navigateur) :<br>
    <a href="https://{server_name}/router.php?page=confirmation-compte&vkey={vkey}&uid={customer_id}">https://{server_name}/router.php?page=confirmation-compte&vkey={vkey}&uid={customer_id}</a><br>
    <br>
    <br>
    <br>
    Si vous avez reçu ce message, mais que vous n'êtes pas responsable de la création de ce compte, contactez immédiatement l'administration de Médélice à l'adresse suivante, en joignant votre identifiant client :<br>
    <a href="https://{server_name}/index.php?page=contact">https://{server_name}/index.php?page=contact</a><br>
    <br>
    <br>
    Identifiant client : {customer_id}<br>
    <br>
    <br>
</div>
<div style="color: #9b9b9b; padding-top: 15px; border-top: 1px solid #eaeaea; font: 14px Arial, sans-serif;">
    Ce message vous a été envoyé d'une adresse qui ne peut recevoir d'emails. Merci de ne pas y répondre.
</div>