<div style="width: 100%; font: 14px Arial, sans-serif;">
    {customer_firstname}, votre mot de passe a été réinitialisé.<br>
    <br>
    Vous pouvez dorénavant vous connecter à votre compte Médélice n'importe où sur <a href="https://{server_name}/index.php?page=home">le site</a>.<br>
    <br>
    <br>
    <br>
    Cet email vous a été envoyé pour confirmer la réinitialisation de votre mot de passe. Si vous n'êtes pas à l'origine de cette action, contactez immédiatement notre service technique à l'adresse suivante :<br>
    <a href="https://{server_name}/index.php?page=contact">https://{server_name}/index.php?page=contact</a><br>
    <br>
    <br>
    Identifiant client : {customer_id}<br>
    <br>
    <br>
</div>
<div style="color: #9b9b9b; padding-top: 15px; border-top: 1px solid #eaeaea; font: 14px Arial, sans-serif;">
    Ce message vous a été envoyé d'une adresse qui ne peut recevoir d'emails. Merci de ne pas y répondre.
</div>