<div style="width: 100%;">
    Bonjour,<br>
    <br>
    Votre commande n°{order_uid} a été expédiée. Celle-ci est en cours d'acheminement et ne peut donc plus être annulée.
    Pour suivre l'état de vos commandes, rendez-vous dans la section <a href="https://{server_name}/index.php?page=mes-commandes" style="text-decoration: none">Mes commandes</a> sur Médélice,
    ou bien <a href="https://{server_name}/index.php?page=ma-commande&ref={order_id}" style="text-decoration: none">cliquez ici</a> pour suivre l'état de cette commande.
</div>
<div style="width: 100%; border-width: 1px 0; border-style: solid; border-color: #eaeaea; padding: 0.5vw 0; margin: 1vw 0; font: 14px Arial, sans-serif">
    <div style="display: inline-block; width: 100%;">
        <span style="float: left;">Date de livraison estimée :</span><strong style="float: right"><span style="color: green">{order_delivery_date}</span> ({order_delivery_mode})</strong>
    </div>
    <div style="display: inline-block; width: 100%;">
        <span style="float: left;">Adresse de livraison :</span>
        <div style="float: right; font-weight: bold; text-align: right;">
            {order_delivery_emitter_name}<br>
            {order_delivery_address1}<br>
            {order_delivery_address2}<br>
            {order_delivery_city} ({order_delivery_zip}), {order_delivery_state}<br>
            {order_delivery_country}
        </div>
    </div>
</div>
<div style="width: 100%;">
    Le numéro de suivi de votre commande est XXXXXXXXXXXXX. Selon votre option de livraison, il est possible qui les informatiosn de suivi ne soient pas encore consultable au moment où vous recevez cet email.
</div>
<div style="width: 100%; margin-top: 15px;">
    <div style="font-size: 16px; color: #a0782f; width: 100%; margin-bottom: 20px; font-weight: bold">Contenu de votre commande</div>
    {order_content}
    <div style="width: 90%; text-align: right; padding: 20px 10px 16px; margin: 0 5%;">
        Total des articles : {order_total_products}€<br>
        Frais de livraison : {order_shipping_duty}€<br>
        <span style="font-weight: bold">Total de la commande : {order_total_bill}€</span><br>
        <!--<span style="font-weight: bold">Moyen de paiment : Mastercard</span>-->
    </div>
    <div style="color: #9b9b9b; padding-top: 15px; border-top: 1px solid #eaeaea;">
        Ce message vous a été envoyé d'une adresse qui ne peut recevoir d'emails. Merci de ne pas y répondre.
    </div>
</div>